# MySQL

In [62]:
import mysql.connector as ccnx
import csv
import re
import sys
import pandas as pd


#python connector setup
mydb = ccnx.connect(
    host="localhost",
    user="root",
    password="root",
    database="edfs"
)
mycursor = mydb.cursor(buffered=True)

####################
# Helper Functions #
####################

def Sort_Tuple(tup: list, idx: int) -> list:
    '''
    Return the sorted list of tuples by the element of the tuple
    Args:
        tup (list): unsorted list of tuples
        idx (int): the element of the tuple to sort by
    Returns:
        (list) Sorted list of tuples
    '''
    return(sorted(tup, key = lambda x: x[idx]))

def key_idx(str_list):
    '''
    Return the index of 'Country Name' if it exists in the dataset, and 0 if
    the column name is not present
    Args:
        str_list (list): the list of column names
    Returns:
        (int) the index returned
    '''
    try:
        return str_list.index('Country Name')
    except:
        return 0

def key_cleaning(row):
    #key cleaning
    clean_key =  re.sub(r'[^A-Za-z0-9 ]+', '', row[0]).replace(" ", "_")
    key = clean_key if clean_key != "" else "invalid_key"
    if key.isnumeric() and key.length() > 0:
        key = f"t{key}"
    if len(key) >= 64:
        key = key[0:40]
    return key

####################
# API Functions    #
####################

def read_dataset(path):
    # (partition_name, csv_index, comma-separated-string)
    list_of_tuples = getPartitionData(path)
    list_of_lists = [tuple[2].split(",") for tuple in list_of_tuples]
    df = pd.DataFrame(list_of_lists)

    new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    df.columns = new_header #set the header row as the df header

    df = df.drop(["Country Code", "Series Code"], "columns")

    df_melted = df.melt(id_vars=["Country Name", "Series Name"],
        var_name="Year",
        value_name="Value")

    df_melted["Year"] = df_melted["Year"].str[0:4]

    df_melted = df_melted.loc[df_melted.Value.str.isnumeric()].copy()

    # change columns names
    new_columns = list()
    columns = df_melted.columns
    for c in columns:
            new_columns.append(c.replace(" ","_"))

    # change column names in dataframe
    df_melted.columns = new_columns

    return df_melted.astype({'Year':'int', 'Value': 'float'})

def seek(path):
    '''
    Returns the filestructure that matches the specified path
    Args:
        str_list (list): the list of column names
    Returns:
        (int) the index returned
    '''
    seek_statement = "SELECT * FROM df WHERE path = %s"
    mycursor.execute(seek_statement, (path,))
    myresult = mycursor.fetchall()
    return myresult

def mkdir(path, name):
    '''
    Create the directory at the specfied path in the filesystem
    Args:
        path (str): the path to the directory's home
        name (str): the name of the directory
    Returns:
        output (str): success or failure of the operation
    '''
    result = seek(path)
    if result:
        if result[0][1] == "DIRECTORY":
            pathname = f"{path}/{name}"
            dup_result = seek(pathname)
            if not dup_result:
                insert_statement = "INSERT INTO df VALUES (%s, 'DIRECTORY')"
                mycursor.execute(insert_statement, (pathname,))
                mydb.commit()
                output = f"directory {name} created"
            else:
                output = "directory already exists"
    else:
        output = f"Invalid path: {path}"
    return output

def rm(path, name):
    '''
    Removes the directory at the specfied path in the filesystem
    Args:
        path (str): the path to the directory's home
        name (str): the name of the directory
    Returns:
        output (str): success or failure of the operation
    '''
    result = seek(path)
    filepath =  f"{path}/{name}"
    if result:
        select_statement = "SELECT * FROM df WHERE path LIKE %s"
        mycursor.execute(select_statement, (filepath + "%",))
        result = mycursor.fetchall()
        if len(result) != 1:
            output = "invalid deletion"
        else:
            delete_statement = "DELETE FROM df WHERE path LIKE %s"
            mycursor.execute(delete_statement, (filepath,)) #TODO: adding % here will add -r functionality
            mydb.commit()
            output = f"{filepath} deleted"
    else:
        output = f"Invalid path: {filepath}"
    return output

def ls(path):
    '''
    Returns the contents of the directory at the specfied path in the filesystem
    Args:
        path (str): the path to the directory's home
        name (str): the name of the directory
    Returns:
        output (str): success or failure of the operation
    '''
    result = seek(path)
    if result:
        if result[0][1] == "FILE":
            output = "Cannot run 'ls' on files"
        elif result[0][1] == "DIRECTORY":
            ls_statement = "SELECT * FROM df WHERE path REGEXP %s"
            mycursor.execute(ls_statement, (f"^{path}\/[^\/]+$",))
            output = mycursor.fetchall()
    else:
        output = f"Invalid path: {path}"
    return output

def getPartitionLocations(path):
    '''
    Returns the blockLocations that match the file at the specified
    Args:
        path (str): the path to the file
    Returns:
        output (obj): the blockLocations in a list of tuples
    '''
    cat_statement = "SELECT * FROM blockLocations WHERE path = %s"
    mycursor.execute(cat_statement, (path,))
    result = mycursor.fetchall()
    return result

def readPartition(path, partition_name):
    '''
    Returns the contents of a specified partition_name
    Args:
        path (str): the path to the file
        partition_name: the name of the partition
    Returns:
        [list of (tuple)]: the data contents of the partition
    '''
    mycursor.execute(f"SELECT * FROM {partition_name} WHERE path = %s", (path,))
    result = mycursor.fetchall()
    partition_data = []
    for line in result:
        partition_data.append((partition_name, line[1], line[2]))
    return partition_data

def cat(path):
    '''
    Returns the contents the file at the specified path
    Args:
        path (str): the path to the file
    Returns:
        output (obj): the text of the file
    '''
    output = ""
    sorted_data_list = getPartitionData(path)
    for s in sorted_data_list:
        output += s[2] +"\n"
    return output

def getPartitionData(path):
    '''
    Returns the contents the file at the specified path
    Args:
        path (str): the path to the file
    Returns:
        output (obj): the text of the file
    '''
    result = seek(path)
    output = ""
    if result:
        if result[0][1] == "DIRECTORY":
            output = "Cannot run 'cat' on directories"
        elif result[0][1] == "FILE":
            myresult = getPartitionLocations(path)
            data_list = []
            for partition in myresult:
                data_list = data_list + readPartition(path, partition[1])
            sorted_data_list = Sort_Tuple(data_list, 1)
            return sorted_data_list
    else:
        output = f"Invalid path: {path}"
    return output

def put(path, name, csv):
    '''
    places the file from a local directory into the EDFS
    Args:
        path (str): the path to the file
        name (str): the name of the file to be created
        csv (str): the path to the csv file to be placed
    Returns:
        output (str): the success or failure of the operation
    '''
    result = seek(path)
    if result:
        if result[0][1] == "DIRECTORY":
            dup_result = seek(f"{path}/{name}")
            if not dup_result:
                hash_lists = hash(path, name, csv)
                output = f"file {name} created"
            else:
                output = "file already exists"
        else:
            output = "cannot place a file in a file"
    else:
        output = f"Invalid path: {path}"
    return output



def hash(path, name, csv_file):
    '''
    Alters the metadata to allocate new datanotes if needed and places the file
    data into the nodes
    Args:
        path (str): the path to the file
        name (str): the name of the file to be created
        csv (str): the path to the csv file to be placed
    Returns:
        key_list (list): the list of keys to datanodes that have been
        allocated to
    '''

    #execute metadata alter
    meta_statement = "INSERT INTO df VALUES (%s, 'FILE');"
    mycursor.execute(meta_statement, (f"{path}/{name}",))
    mydb.commit()
    with open(csv_file) as f:

        key_list, csv_counter = {}, 0
        reader = csv.reader(f, delimiter=',')
        header = next(reader)
        key_index = key_idx(header)
        key = key_cleaning(header)

        #TODO: modularize this create code JFC
        try:
            create_statement = f"""
                CREATE TABLE IF NOT EXISTS {key}(
                    path varchar(255),
                    data_index int,
                    data text,
                    FOREIGN KEY(path) REFERENCES df(path) ON DELETE CASCADE
                )"""
            insert_hash_statement = f"INSERT INTO {key} VALUES (%s, %s, %s);"
            mycursor.execute(create_statement)
            mydb.commit()
            mycursor.execute(insert_hash_statement, (path + "/" + name, csv_counter, ','.join(header)))
            mydb.commit()
            key_list[key] = None
            csv_counter += 1
        except:
            output = f"ERROR: {mycursor.statement}"

        for row in reader:
            key = key_cleaning(row)
            #try insert data into datanode
            try:
                create_statement = f"""
                    CREATE TABLE IF NOT EXISTS {key}(
                        path varchar(255),
                        data_index int,
                        data text,
                        FOREIGN KEY(path) REFERENCES df(path) ON DELETE CASCADE
                    )"""
                insert_hash_statement = f"INSERT INTO {key} VALUES (%s, %s, %s);"
                mycursor.execute(create_statement)
                mydb.commit()
                mycursor.execute(insert_hash_statement, (path + "/" + name, csv_counter, ','.join(row)))
                mydb.commit()
                key_list[key] = None
                csv_counter += 1
            except:
                output = f"ERROR: {mycursor.statement}"
                rm(path, name)
                # return output

        #write data into datanodes
        for key in key_list.keys():
             block_statement = "INSERT INTO blockLocations VALUES(%s, %s);"
             mycursor.execute(block_statement, (f"{path}/{name}", key))
        mydb.commit()
        return key_list

######################
# Database Functions #
######################

def delete(list):
    '''
    Drops all tables in the list from the edfs
    Args:
        list (list): the list of table names to drop
    Returns:
        (str): the success or failure of the operation
    '''
    try:
        for item in list:
            drop_table = f"DROP TABLE {key}"
            mycursor.execute(drop_table)
            mydb.commit()
        return "Dropped tables"
    except:
        return "Database drop error"

def new_env(edfs):
    '''
    Executes EDFS SQL setup queries
    Args:
        edfs (str): the name of the EDFS filesystel to setup
    Returns:
        (str): the success or failure of the operation
    '''
    env_statements = [
            f"CREATE DATABASE {edfs}",
            f"USE {edfs}",
            """
                CREATE TABLE df (
                    path varchar(255),
                    type varchar(255),
                    PRIMARY KEY(path)
                )""",
            "INSERT INTO df VALUES ('/root', 'DIRECTORY')",
            """
                CREATE TABLE blockLocations (
                    path varchar(255),
                    partition_name varchar(255),
                    CONSTRAINT FOREIGN KEY (path) REFERENCES df(path) ON DELETE CASCADE
                )"""
    ]
    try:
        for s in env_statements:
            mycursor.execute(s)
        mydb.commit()
        return f"{edfs} created"
    except:
        return "Database error"

def delete_env(edfs):
    '''
    Drops the EDFS database entirely
    Args:
        edfs (str): the name of the EDFS filesystel to drop
    Returns:
        (str): the success or failure of the operation
    '''
    try:
        drop_database = f"DROP DATABASE {edfs};"
        mycursor.execute(drop_database)
        mydb.commit()
    except:
        return "Database error"
    return  f"{edfs} deleted"

def start_env(edfs):
    '''
    Uses EDFS database
    Args:
        edfs (str): the name of the EDFS filesystem to run
    Returns:
        (str): the success or failure of the operation
    '''
    try:
        use_database = f"USE {edfs}"
        mycursor.execute(use_database)
    except:
        return "Database error"
    return  f"{edfs} started"

# def test_edfs(argv):

#     edfs = "edfs"

#     #Testing
#     if "--delete" in argv:
#         print(delete_env(edfs))
#     elif "--new" in argv:
#         print(new_env(edfs))
#     elif "--restart" in argv:
#         print(delete_env(edfs))
#         print(new_env(edfs))
#     else:
#         print(start_env(edfs))
#         print(mkdir("/root", "foo"))
#         print(mkdir("/root/foo", "bar"))
#         #todo: put check to make sure that the file source exists
#         print(put("/root/foo", "data", "../datasets/sql-edfs/data.csv"))
#         print(cat("/root/foo/data"))
#         print(ls("/root/foo"))
#         print(rm("/root", "data"))
#         print(ls("/tree"))


#     # test_edfs(sys.argv)

## Restart

In [3]:
edfs="edfs"
delete_env(edfs)
# new_env(edfs)

'edfs deleted'

In [4]:
new_env(edfs)

'edfs created'

In [5]:
start_env(edfs)

'edfs started'

# Init commands

In [28]:
ls("/root")

[('/root/user', 'DIRECTORY')]

In [ ]:
# put(mycursor, "/root/foo", "data", "datasets/sql-edfs/data.csv")

# MongoDB

In [74]:
import csv
import re
import sys
import pandas as pd
from pymongo import MongoClient
# import simplejson as sp
import json
import os

#mongodb client setup
client = MongoClient("mongodb://root:root@localhost:27017/")
db = client['edfs']
#collection = db['name_of_collection']

#python connector setup

####################
# API Functions    #
####################

def read_dataset(path):
    df=pd.read_csv(path)
    df=df.reset_index(drop=True)
    #df_melted = df.melt(df.set_index('Country Name'))
    df = df.drop(["Country Code", "Series Code"], axis=1)
    new_columns = list()
    columns = df.columns.str.strip()
    for c in columns:
            new_columns.append(c.replace(" ","_"))

    # change column names in dataframe
    df.columns = new_columns
    df.columns = df.columns.astype(str)
    #print("readDataset", df_melted.astype({'Year':'int', 'Value': 'float'}))
    return df

def seek(path):
    #print("seek", db.blockLocations.find_one({"path": path}))
    return db.blockLocations.find_one({"path": path})

def mkdir(path, name):
    result = seek(path)
    output = ""
    #print("mkdir", result)
    if result:
        pathn = path + "/" + name
        db.blockLocations.insert_one({"path": pathn, "type" : 'DIRECTORY'})
        output = f"Directory created"
    else:
        output = f"Invalid path: {path}"
    #print("mkdir",output)
    return output

def rm(path, name):
    result = seek(path)
    path =  f"{path}/{name}"
    output = ""
    if result:
        db.blockLocations.insert_one({"Path": path, "type" : 'DIRECTORY'})
        output = f"{path} deleted"
    else:
        output = "invalid deletion"
    #print(output)
    return output


def ls(path):
    result = seek(path)
    print("ls",result)
    if result:
        if result["type"] == "FILE":
            output = "Cannot run 'ls' on files"
        elif result["type"] == "DIRECTORY":
            #output1=db.df.find()
            query = {"path": {"$regex": f"{path}","$options" :'i'}}
            output1=db.blockLocations.find(query)
            final=[]
            for o in output1:
                final.append(o)
    else:
        final = f"Invalid path: {path}"
    
    if(len(final)==0):
        return final
    else:
        return final

def readPartition(inp,file,path):
    path= '/'+path+'/'+file+'/'+inp
    X = db.df.find_one({"location":path}, {'_id':False})
    if(X):
        return X
    else:
        return ("FILE DOES NOT EXIST")

def cat(filelist):
    x=db.df.find()
    list=[]
    for i in x:
        list.append(i)
   
    return (list)

#db.df.find({"$and":[{"location":{'$regex':"Benin"}},{"location":{'$regex':"Belgium"}}]},{'_id':0})

def put(path, csvf):
    header = [ "\ufeffCountry Name",	"Country Code",	"Series Name",
    	"2003",	"2004",	"2005",	"2006",	"2007",	"2008",	"2009",	
        "2010",	"2011",	"2012",	"2013",	"2014",	"2015",	"2016",
        "2017",	"2018",	"2019",	"2020",	"2021"]
    new_headers_list=[ "Country Name",	"Country Code",	"Series Name",
    	"2003",	"2004",	"2005",	"2006",	"2007",	"2008",	"2009",	
        "2010",	"2011",	"2012",	"2013",	"2014",	"2015",	"2016",
        "2017",	"2018",	"2019",	"2020",	"2021"]
    csvfile = open( csvf, 'r+')
    reader = csv.DictReader( csvfile )
    reader.fieldnames = new_headers_list
    for each in reader:
        #print(each)
        row={}
        blockLoc = {}
        for field in new_headers_list:
            row[field]=each[field]
            blockLoc["path"] = path+ "/"+ each["Country Name"]
            row["location"] = path+ "/"+ each["Country Name"]
            blockLoc["type"] = "FILE"
        db.df.insert_one(row)
        db.blockLocations.insert_one(blockLoc)
    return("Inserted Data")

#session = db.getMongo().startSession( { readPreference: { mode: "primary" } } )
def getPartitionLocations(path):
    #path1= path+'/'+filepartition
    X = db.blockLocations.find({"path":{"$regex":path}},{"path":True,"_id":False})
    loc=[]
    if(X):
        for i in X:
            loc.append(i)
        return loc[1:]
    else:
        return ("FILE DOES NOT EXIST")
######################
# Database Functions #
######################

def delete(list):
    try:
        for item in list:
            col=db[f"item"]
            col.drop()
        return "Dropped tables"
    except:
        return "Database drop error"

def new_env(edfs):
    try:
        db = client['edfs']
        db.blockLocations.insert_one({"path":'/root',"type":'DIRECTORY'})
        return f"{edfs} created"
    except:
        return "Database error"

def delete_env(edfs):
    try:
        client.drop_database('edfs')
    except:
        return "Database error"
    return  f"{edfs} deleted"

def start_env(edfs):
    try:
        client = MongoClient('localhost', 27017)
        db = client['edfs']
    except:
        return "Database error"
    return  f"{edfs} started"

def test_edfs(argv):

    edfs = "edfs"

    #Testing
    if "--delete" in argv:
        print(delete_env(edfs))
    elif "--new" in argv:
        print(new_env(edfs))
    elif "--restart" in argv:
        print(delete_env(edfs))
        print(new_env(edfs))
    else:
        print(start_env(edfs))
        print(mkdir("/root", "foo"))
        print(mkdir("/root/foo", "bar"))

# test_edfs(sys.argv[1])
#test_edfs("--new")
#print(mkdir('/root', "user"))
#mkdir("/root/foo", "bar")
#rm("/root/foo", "bar")
#put("/root/foo", "data", "/Users/digvijaydesai/Downloads/ashita_code/Data.csv")
#seek("/root/foo/data")
#seek("/root/foo/bar")
#rm("/root", "bar")
#print(ls('/root'))
#print(cat("/Users/digvijaydesai/Downloads/ashita_code/Data.csv"))
#print(cat("/Users/digvijaydesai/Downloads/DSCI 552 ML/hw0/Salaries.csv"))
#print(read_dataset("/Users/digvijaydesai/Downloads/ashita_code/Data.csv"))
#print(readPartition("XY","foo","root"))
#print(getPartitionLocations("/root/foo"))

In [61]:
edfs = "edfs"
delete_env(edfs)

'edfs deleted'

In [62]:
new_env(edfs)

'edfs created'

In [63]:
mkdir("/root", "GDP_Growth")

'Directory created'

In [64]:
ls("/root")

ls {'_id': ObjectId('638429dec61a654c2f9c03c6'), 'path': '/root', 'type': 'DIRECTORY'}

[{'_id': ObjectId('638429dec61a654c2f9c03c6'),
  'path': '/root',
  'type': 'DIRECTORY'},
 {'_id': ObjectId('638429dfc61a654c2f9c03c7'),
  'path': '/root/GDP_Growth',
  'type': 'DIRECTORY'}]

In [65]:
put("/root/GDP_Growth", "datasets/GDP_Growth.csv")

'Inserted Data'

In [92]:
def read_dataset(path):
    df=pd.read_csv(path)
    df=df.reset_index(drop=True)
    #df_melted = df.melt(df.set_index('Country Name'))
    df.head()
    df = df.drop(["Country Code"], axis=1)
    new_columns = list()
    columns = df.columns.str.strip()
    for c in columns:
            new_columns.append(c.replace(" ","_"))

    # change column names in dataframe
    df.columns = new_columns
    df.columns = df.columns.astype(str)
    df_melted = df.melt(id_vars=["Country_Name", "Series_Name"],
        var_name="Year",
        value_name="Value")
    #print("readDataset", df_melted.astype({'Year':'int', 'Value': 'float'}))
    return  df_melted.astype({'Year':'int', 'Value': 'float'})

In [93]:
df = read_dataset("datasets/GDP_Growth.csv")

In [94]:
df.head()

                  Country_Name            Series_Name  Year     Value
0                        Aruba  GDP growth (annual %)  2003  1.120879
1  Africa Eastern and Southern  GDP growth (annual %)  2003  3.080376
2                  Afghanistan  GDP growth (annual %)  2003  8.832278
3   Africa Western and Central  GDP growth (annual %)  2003  5.518474
4                       Angola  GDP growth (annual %)  2003  2.990000

In [41]:
# cat("/root/GDP_Growth")

In [43]:
# getPartitionLocations("/root/GDP_Growth")

In [45]:
# readPartition("Algeria", "GDP_Growth", "root")

In [23]:
readPartition("Algeria", "foo", "root")

'FILE EXISTS'

In [47]:
rm("/root", "GDP_Growth")

'/root/GDP_Growth deleted'

In [59]:
# ls("/root")

In [20]:
cat("/root/foo")

In [29]:
# getPartitionLocations("/root/foo")

In [17]:
ls("/root/user")

ls {'_id': ObjectId('6383d95bc61a654c2f9bfbad'), 'path': '/root/user', 'type': 'DIRECTORY'}

[{'_id': ObjectId('6383d95bc61a654c2f9bfbad'),
  'path': '/root/user',
  'type': 'DIRECTORY'}]

In [8]:
ls("/root")

ls {'_id': ObjectId('6383d95ac61a654c2f9bfbac'), 'path': '/root', 'type': 'DIRECTORY'}

[{'_id': ObjectId('6383d95ac61a654c2f9bfbac'),
  'path': '/root',
  'type': 'DIRECTORY'},
 {'_id': ObjectId('6383d95bc61a654c2f9bfbad'),
  'path': '/root/user',
  'type': 'DIRECTORY'}]

In [7]:
ls("/root/user")

ls {'_id': ObjectId('6383d95bc61a654c2f9bfbad'), 'path': '/root/user', 'type': 'DIRECTORY'}

[{'_id': ObjectId('6383d95bc61a654c2f9bfbad'),
  'path': '/root/user',
  'type': 'DIRECTORY'}]

In [9]:
# put(mycursor, "/root/foo", "data", "datasets/sql-edfs/data.csv")
put("/root/foo", None, "datasets/sql-edfs/data.csv")

'Inserted Data'

In [78]:
# getPartitionLocations("/root/user")

In [79]:
# df = read_dataset("datasets/Data.csv")

In [10]:
getBlockLocation("/root/user", "Aruba")

NameError: name 'getBlockLocation' is not defined

In [ ]:
cat

In [72]:
ls("/root/user")

In [73]:
put("/root/user", None, "datasets/Data.csv")

'Inserted Data'

In [76]:
cat("datasets/Data.csv")

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,8.832278,1.414118,11.229715,5.357403,13.826320,3.924984,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.239182,4.321919,6.238901,3.213890,9.378479,0.378940,...,1.712195,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,9.127578
254,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513
255,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603
256,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815
257,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420

In [75]:
ls('/root/user')

ls {'_id': ObjectId('63831ef9303cb5b297f0b5fd'), 'path': '/root/user', 'type': 'DIRECTORY'}

[{'_id': ObjectId('63831ef9303cb5b297f0b5fd'),
  'path': '/root/user',
  'type': 'DIRECTORY'},
 {'_id': ObjectId('63831f34303cb5b297f0b5ff'),
  'path': '/root/user/\ufeffCountry Name',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b601'),
  'path': '/root/user/Aruba',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b603'),
  'path': '/root/user/Africa Eastern and Southern',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b605'),
  'path': '/root/user/Afghanistan',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b607'),
  'path': '/root/user/Africa Western and Central',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b609'),
  'path': '/root/user/Angola',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b60b'),
  'path': '/root/user/Albania',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b60d'),
  'path': '/root/user/Andorra',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b60f'),
  'path': '/root/user/Arab World',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b611'),
  'path': '/root/user/United Arab Emirates',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b613'),
  'path': '/root/user/Argentina',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b615'),
  'path': '/root/user/Armenia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b617'),
  'path': '/root/user/American Samoa',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b619'),
  'path': '/root/user/Antigua and Barbuda',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b61b'),
  'path': '/root/user/Australia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b61d'),
  'path': '/root/user/Austria',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b61f'),
  'path': '/root/user/Azerbaijan',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b621'),
  'path': '/root/user/Burundi',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b623'),
  'path': '/root/user/Belgium',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b625'),
  'path': '/root/user/Benin',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b627'),
  'path': '/root/user/Burkina Faso',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b629'),
  'path': '/root/user/Bangladesh',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b62b'),
  'path': '/root/user/Bulgaria',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b62d'),
  'path': '/root/user/Bahrain',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b62f'),
  'path': '/root/user/Bahamas, The',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b631'),
  'path': '/root/user/Bosnia and Herzegovina',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b633'),
  'path': '/root/user/Belarus',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b635'),
  'path': '/root/user/Belize',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b637'),
  'path': '/root/user/Bermuda',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b639'),
  'path': '/root/user/Bolivia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b63b'),
  'path': '/root/user/Brazil',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b63d'),
  'path': '/root/user/Barbados',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b63f'),
  'path': '/root/user/Brunei Darussalam',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b641'),
  'path': '/root/user/Bhutan',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b643'),
  'path': '/root/user/Botswana',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b645'),
  'path': '/root/user/Central African Republic',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b647'),
  'path': '/root/user/Canada',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b649'),
  'path': '/root/user/Central Europe and the Baltics',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b64b'),
  'path': '/root/user/Switzerland',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b64d'),
  'path': '/root/user/Channel Islands',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b64f'),
  'path': '/root/user/Chile',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b651'),
  'path': '/root/user/China',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b653'),
  'path': "/root/user/Cote d'Ivoire",
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b655'),
  'path': '/root/user/Cameroon',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b657'),
  'path': '/root/user/Congo, Dem. Rep.',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b659'),
  'path': '/root/user/Congo, Rep.',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b65b'),
  'path': '/root/user/Colombia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b65d'),
  'path': '/root/user/Comoros',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b65f'),
  'path': '/root/user/Cabo Verde',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b661'),
  'path': '/root/user/Costa Rica',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b663'),
  'path': '/root/user/Caribbean small states',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b665'),
  'path': '/root/user/Cuba',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b667'),
  'path': '/root/user/Curacao',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b669'),
  'path': '/root/user/Cayman Islands',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b66b'),
  'path': '/root/user/Cyprus',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b66d'),
  'path': '/root/user/Czechia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b66f'),
  'path': '/root/user/Germany',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b671'),
  'path': '/root/user/Djibouti',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b673'),
  'path': '/root/user/Dominica',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b675'),
  'path': '/root/user/Denmark',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b677'),
  'path': '/root/user/Dominican Republic',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b679'),
  'path': '/root/user/Algeria',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b67b'),
  'path': '/root/user/East Asia & Pacific (excluding high income)',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b67d'),
  'path': '/root/user/Early-demographic dividend',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b67f'),
  'path': '/root/user/East Asia & Pacific',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b681'),
  'path': '/root/user/Europe & Central Asia (excluding high income)',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b683'),
  'path': '/root/user/Europe & Central Asia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b685'),
  'path': '/root/user/Ecuador',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b687'),
  'path': '/root/user/Egypt, Arab Rep.',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b689'),
  'path': '/root/user/Euro area',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b68b'),
  'path': '/root/user/Eritrea',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b68d'),
  'path': '/root/user/Spain',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b68f'),
  'path': '/root/user/Estonia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b691'),
  'path': '/root/user/Ethiopia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b693'),
  'path': '/root/user/European Union',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b695'),
  'path': '/root/user/Fragile and conflict affected situations',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b697'),
  'path': '/root/user/Finland',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b699'),
  'path': '/root/user/Fiji',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b69b'),
  'path': '/root/user/France',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b69d'),
  'path': '/root/user/Micronesia, Fed. Sts.',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b69f'),
  'path': '/root/user/Gabon',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6a1'),
  'path': '/root/user/United Kingdom',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6a3'),
  'path': '/root/user/Georgia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6a5'),
  'path': '/root/user/Ghana',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6a7'),
  'path': '/root/user/Guinea',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6a9'),
  'path': '/root/user/Gambia, The',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6ab'),
  'path': '/root/user/Guinea-Bissau',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6ad'),
  'path': '/root/user/Equatorial Guinea',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6af'),
  'path': '/root/user/Greece',
  'type': 'FILE'},
 {'_id': ObjectId('63831f34303cb5b297f0b6b1'),
  'path': '/root/user/Grenada',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6b3'),
  'path': '/root/user/Greenland',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6b5'),
  'path': '/root/user/Guatemala',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6b7'),
  'path': '/root/user/Guam',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6b9'),
  'path': '/root/user/Guyana',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6bb'),
  'path': '/root/user/High income',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6bd'),
  'path': '/root/user/Hong Kong SAR, China',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6bf'),
  'path': '/root/user/Honduras',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6c1'),
  'path': '/root/user/Heavily indebted poor countries (HIPC)',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6c3'),
  'path': '/root/user/Croatia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6c5'),
  'path': '/root/user/Haiti',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6c7'),
  'path': '/root/user/Hungary',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6c9'),
  'path': '/root/user/IBRD only',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6cb'),
  'path': '/root/user/IDA & IBRD total',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6cd'),
  'path': '/root/user/IDA total',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6cf'),
  'path': '/root/user/IDA blend',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6d1'),
  'path': '/root/user/Indonesia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6d3'),
  'path': '/root/user/IDA only',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6d5'),
  'path': '/root/user/Isle of Man',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6d7'),
  'path': '/root/user/India',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6d9'),
  'path': '/root/user/Ireland',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6db'),
  'path': '/root/user/Iran, Islamic Rep.',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6dd'),
  'path': '/root/user/Iraq',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6df'),
  'path': '/root/user/Iceland',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6e1'),
  'path': '/root/user/Israel',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6e3'),
  'path': '/root/user/Italy',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6e5'),
  'path': '/root/user/Jamaica',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6e7'),
  'path': '/root/user/Jordan',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6e9'),
  'path': '/root/user/Japan',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6eb'),
  'path': '/root/user/Kazakhstan',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6ed'),
  'path': '/root/user/Kenya',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6ef'),
  'path': '/root/user/Kyrgyz Republic',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6f1'),
  'path': '/root/user/Cambodia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6f3'),
  'path': '/root/user/Kiribati',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6f5'),
  'path': '/root/user/St. Kitts and Nevis',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6f7'),
  'path': '/root/user/Korea, Rep.',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6f9'),
  'path': '/root/user/Kuwait',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6fb'),
  'path': '/root/user/Latin America & Caribbean (excluding high income)',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6fd'),
  'path': '/root/user/Lao PDR',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b6ff'),
  'path': '/root/user/Lebanon',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b701'),
  'path': '/root/user/Liberia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b703'),
  'path': '/root/user/Libya',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b705'),
  'path': '/root/user/St. Lucia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b707'),
  'path': '/root/user/Latin America & Caribbean',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b709'),
  'path': '/root/user/Least developed countries: UN classification',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b70b'),
  'path': '/root/user/Low income',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b70d'),
  'path': '/root/user/Liechtenstein',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b70f'),
  'path': '/root/user/Sri Lanka',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b711'),
  'path': '/root/user/Lower middle income',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b713'),
  'path': '/root/user/Low & middle income',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b715'),
  'path': '/root/user/Lesotho',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b717'),
  'path': '/root/user/Late-demographic dividend',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b719'),
  'path': '/root/user/Lithuania',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b71b'),
  'path': '/root/user/Luxembourg',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b71d'),
  'path': '/root/user/Latvia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b71f'),
  'path': '/root/user/Macao SAR, China',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b721'),
  'path': '/root/user/Morocco',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b723'),
  'path': '/root/user/Monaco',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b725'),
  'path': '/root/user/Moldova',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b727'),
  'path': '/root/user/Madagascar',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b729'),
  'path': '/root/user/Maldives',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b72b'),
  'path': '/root/user/Middle East & North Africa',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b72d'),
  'path': '/root/user/Mexico',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b72f'),
  'path': '/root/user/Marshall Islands',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b731'),
  'path': '/root/user/Middle income',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b733'),
  'path': '/root/user/North Macedonia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b735'),
  'path': '/root/user/Mali',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b737'),
  'path': '/root/user/Malta',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b739'),
  'path': '/root/user/Myanmar',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b73b'),
  'path': '/root/user/Middle East & North Africa (excluding high income)',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b73d'),
  'path': '/root/user/Montenegro',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b73f'),
  'path': '/root/user/Mongolia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b741'),
  'path': '/root/user/Northern Mariana Islands',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b743'),
  'path': '/root/user/Mozambique',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b745'),
  'path': '/root/user/Mauritania',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b747'),
  'path': '/root/user/Mauritius',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b749'),
  'path': '/root/user/Malawi',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b74b'),
  'path': '/root/user/Malaysia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b74d'),
  'path': '/root/user/North America',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b74f'),
  'path': '/root/user/Namibia',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b751'),
  'path': '/root/user/Niger',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b753'),
  'path': '/root/user/Nigeria',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b755'),
  'path': '/root/user/Nicaragua',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b757'),
  'path': '/root/user/Netherlands',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b759'),
  'path': '/root/user/Norway',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b75b'),
  'path': '/root/user/Nepal',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b75d'),
  'path': '/root/user/Nauru',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b75f'),
  'path': '/root/user/New Zealand',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b761'),
  'path': '/root/user/OECD members',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b763'),
  'path': '/root/user/Oman',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b765'),
  'path': '/root/user/Other small states',
  'type': 'FILE'},
 {'_id': ObjectId('63831f35303cb5b297f0b767'),
  'path': '/root/user/Pakistan',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b769'),
  'path': '/root/user/Panama',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b76b'),
  'path': '/root/user/Peru',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b76d'),
  'path': '/root/user/Philippines',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b76f'),
  'path': '/root/user/Palau',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b771'),
  'path': '/root/user/Papua New Guinea',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b773'),
  'path': '/root/user/Poland',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b775'),
  'path': '/root/user/Pre-demographic dividend',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b777'),
  'path': '/root/user/Puerto Rico',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b779'),
  'path': '/root/user/Portugal',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b77b'),
  'path': '/root/user/Paraguay',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b77d'),
  'path': '/root/user/West Bank and Gaza',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b77f'),
  'path': '/root/user/Pacific island small states',
  'type': 'FILE'},
 {'_id': ObjectId('63831f36303cb5b297f0b781'),
  'path': '/root/user/Post-demographic dividend',

In [78]:
read_dataset("/root/user/Data")

FileNotFoundError: [Errno 2] No such file or directory: '/root/user/Data'

# Spark Implementation

In [7]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
import pandas as pd

In [3]:
import os
os.environ["JAVA_HOME"] = "/Library/Internet\ Plug-Ins/JavaAppletPlugin.plugin/Contents/Home"

In [5]:
# spark= SparkSession \
#     .builder \
#     .getOrCreate()

In [52]:
df = pd.read_csv("datasets/Human_Capital_Index.csv")

In [53]:
df.head()

,Country Name,Country Code,Series Name,Series Code,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,Expected Years of School,HD.HCI.EYRS,..,..,..,..,..,..,..,8.58,8.720339775,..,8.901890755
1,Albania,ALB,Expected Years of School,HD.HCI.EYRS,11.61565018,..,..,..,..,..,..,12.99,12.88550758,..,12.88938141
2,Algeria,DZA,Expected Years of School,HD.HCI.EYRS,11.32690144,..,..,..,..,..,..,11.42,11.77531815,..,11.84803486
3,American Samoa,ASM,Expected Years of School,HD.HCI.EYRS,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,Expected Years of School,HD.HCI.EYRS,..,..,..,..,..,..,..,..,..,..,..

In [54]:
def is_year (c):
    return any(char.isdigit() for char in c)

In [58]:
df.dropna(inplace=True)

In [61]:
# new_columns

In [59]:
# change columns names
new_columns = list()
columns = df.columns
for c in columns:
    if is_year(c):
        new_columns.append(c[:4])
    else:
        new_columns.append(c.replace(" ","_"))

# change column names in dataframe
df.columns = new_columns
df['Year'] = df['Year'].astype(int)
df = df.loc[df['Value'] != '..'].copy()
df['Value'] = df['Value'].astype(float)

KeyError: 'Year'

In [40]:
df_melted_2.dropna(inplace=True)

In [51]:
df_melted.isnull().sum()

Country Name      0
Indicator Name    0
Year              0
Value             0
dtype: int64

In [47]:
df_melted.loc[df_melted.Value.str.isnumeric()]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [25]:
df_melted = df_melted.loc[df_melted.Value.str.isnumeric()].copy()

# change columns names
new_columns = list()
columns = df_melted.columns
for c in columns:
        new_columns.append(c.replace(" ","_"))

# change column names in dataframe
df_melted.columns = new_columns
df_melted.astype({'Year':'int', 'Value': 'float'})

ValueError: Cannot mask with non-boolean array containing NA / NaN values

# Datasets

In [7]:
df = pd.read_csv("datasets/sql-edfs/data.csv")

In [11]:
df2 = df.sample(50, random_state=42).copy()

In [12]:
df2.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
208,Central Europe and the Baltics,CEB,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,100,100,100,100,99.8278344126722,100,100,100,99.9796400333302,..
6,Antigua and Barbuda,ATG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,100,100,100,100,100,100,100,100,100,..
79,Haiti,HTI,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,37.9000015258789,38.6978759765625,39.496410369873,40.8362846374512,40.4000015258789,43.7492713928223,44.962345123291,45.990234375,46.9255332946777,..
204,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,31.8443844038242,31.794159992766,32.001026781227,33.8719104646129,38.8801732244203,40.261357595893,43.061876950924,44.2708604789338,45.8034852293869,..
117,Mexico,MEX,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,99.1116333007813,99.1476974487305,99.1729278564453,99,99.5,100,99.5,99.5999984741211,99.4000015258789,..

In [13]:
df2.to_csv('datasets/Access_Electricity.csv', index=False)

In [15]:
df = pd.read_csv("datasets/sql-edfs/CookingData.csv")

In [17]:
df3 = df.sample(50, random_state=42).copy()

In [19]:
df3.to_csv('datasets/Access_Fuels.csv', index=False)

In [20]:
df = pd.read_csv("datasets/Human_Capital_Index.csv")

In [24]:
df4 = df.sample(50, random_state=42)

In [26]:
df4.to_csv("datasets/Human_Capital_Index_Sample.csv", index=False)