In [7]:
from edfs.firebase import ls, \
    mkdir, rm

In [148]:
import pandas as pd
import requests
import json

firebase_url = 'https://dsci551-project-52d43-default-rtdb.firebaseio.com/'

def seek(path):
    url = firebase_url + path + '.json'
    try:
        rget = requests.get(url)
        return rget
    except:
        print('ERROR')
        

def ls(path: str) -> str:
    '''List files under path/.

    Args:
        path (str): path starting from NameNode/
    Returns:
        (str) Success or Error message
    '''
    slist = seek(f"NameNode/{path}")
    rlist = slist.json()

    result_list = []

    if type(rlist) == dict: # iterate over rlist if rlist != None
        for key, value in rlist.items():
            if key == "_": # empty directory
                continue
            if type(value) == dict: # if item is folder, add '/' to the end of thge string
                result_list.append(key + "/")
            else:
                result_list.append(key)
        output = 'empty' if not result_list else ', '.join(result_list)
    elif not rlist:
        output = f'Path {path} not found'
    else: 
        output = f'{path} is not a folder'
    
    return output

def mkdir(path: str) -> str:
    '''Create directory if not exists

    Args:
        path: relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    full_path = f'NameNode/{path}'
    if seek(full_path).json() is None:
        url = firebase_url + full_path + '.json'
        data = '{"_" : "_"}' # empty directory
        r = requests.put(url,data)
        output = f'Directory {path} created'
    else:
        output  = 'Directory ' + path + ' already exists'
    return output

In [171]:
def rm(path: str) -> str:
    '''Delete directory if exists

    Args:
        path: relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    full_path = f'NameNode/{path}'
    if seek(full_path).json() is None:
        output = 'Directory not found'
    else:
        url = firebase_url + full_path + '.json'
        d = requests.delete(url)
        if d.status_code == 200:
            output = path + ' was succefully deleted'
    return output

In [169]:
rm("root/daniel")

'root/daniel was succefully deleted'

In [161]:
mkdir("data2/China")

'Directory data2/China already exists'

In [120]:
input_text = "ls dsdadsada dasd"
input = input_text.split(' ')

In [151]:
input_text = "ls root/daniel/test2"

In [152]:
functions = {'ls': ls, 'mkdir': mkdir, 'rm': rm}

input = input_text.split(' ')
function_name = input[0]
params = input[1:]

try:
    output = functions[function_name](*params)
except KeyError:
    output = "Command not found. Valid commands: ls, mkdir, rm, put, getPartitionLocations, readPartition"
except TypeError:
    output = "Please verify function required arguments"
print(output)

empty

In [81]:
functions[function_name](*params)

['user']

In [38]:
*args

SyntaxError: can't use starred expression here (3345456506.py, line 1)

In [15]:
args = (2,3)

In [172]:
import pandas as pd

In [242]:
df = pd.read_csv("datasets/Data_Extract_From_Statistical_Capacity_Indicators/42377300-c075-4554-a55f-41cd64c79126_Data.csv")

In [190]:
# function to get year columns
def is_year (c):
    return any(char.isdigit() for char in c)

# change columns names
new_columns = list()
columns = df.columns
for c in columns:
    if is_year(c):
        new_columns.append(c[:4])
    else:
        new_columns.append(c.replace(" ","_"))

# change column names in dataframe
df.columns = new_columns

In [191]:
df = df.drop(columns=['Country_Code', 'Series_Code'], axis=1)

In [194]:
df

,Country_Name,Series_Name,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
0,Afghanistan,Access to water,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,Afghanistan,Agricultural census,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,Balance of payments manual in use,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
3,Afghanistan,Child malnutrition,0.66667,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.66667,0.66667,0.66667,0.33333,0.33333,0.33333,0.33333
4,Afghanistan,Child mortality,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4461,Zimbabwe,Primary completion,0,0.33333,0.33333,0.33333,0.33333,0.33333,0,0,0,0,0,0,0,0,0,0,0
4462,Zimbabwe,Source data assessment of statistical capacity...,60,60,60,60,60,60,60,60,60,60,60,50,40,40,50,50,50
4463,Zimbabwe,Special Data Dissemination Standard,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4464,Zimbabwe,UNESCO reporting,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
4465,Zimbabwe,Vital registration system coverage,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [195]:
df.loc[
    (df['Country_Name'] == 'Afghanistan') & (df['Series_Name'] == 'Child malnutrition')]

,Country_Name,Series_Name,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
3,Afghanistan,Child malnutrition,0.66667,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.33333,0.66667,0.66667,0.66667,0.33333,0.33333,0.33333,0.33333

In [199]:
df_melted = df.melt(id_vars=["Country_Name", "Series_Name"], 
        var_name="Year", 
        value_name="Value")

In [207]:
df_melted['Year'] = df_melted['Year'].astype(int)

In [220]:
import numpy as np

In [246]:
df_melted.loc[df_melted['Value'] != '..']['Value'].astype(float)

0         1.00000
1         0.00000
2         1.00000
3         0.66667
4         1.00000
           ...
75917     0.00000
75918    50.00000
75919     0.00000
75920     0.00000
75921     0.00000
Name: Value, Length: 75922, dtype: float64

In [222]:
df_melted['Value'] = df_melted['Value'].astype(float)

In [200]:
df_melted.loc[
    (df_melted['Country_Name'] == 'Afghanistan') & (df_melted['Series_Name'] == 'Child malnutrition')]

      Country_Name         Series_Name  Year    Value
3      Afghanistan  Child malnutrition  2020  0.66667
4469   Afghanistan  Child malnutrition  2019  0.33333
8935   Afghanistan  Child malnutrition  2018  0.33333
13401  Afghanistan  Child malnutrition  2017  0.33333
17867  Afghanistan  Child malnutrition  2016  0.33333
22333  Afghanistan  Child malnutrition  2015  0.33333
26799  Afghanistan  Child malnutrition  2014  0.33333
31265  Afghanistan  Child malnutrition  2013  0.33333
35731  Afghanistan  Child malnutrition  2012  0.33333
40197  Afghanistan  Child malnutrition  2011  0.33333
44663  Afghanistan  Child malnutrition  2010  0.66667
49129  Afghanistan  Child malnutrition  2009  0.66667
53595  Afghanistan  Child malnutrition  2008  0.66667
58061  Afghanistan  Child malnutrition  2007  0.33333
62527  Afghanistan  Child malnutrition  2006  0.33333
66993  Afghanistan  Child malnutrition  2005  0.33333
71459  Afghanistan  Child malnutrition  2004  0.33333

In [205]:
df_melted.loc[
    (df_melted['Country_Name'] == 'Afghanistan')]# & (df_melted['Series_Name'] == 'Child malnutrition')]

,Country_Name,Series_Name,Year,Value
0,Afghanistan,Access to water,2020,1
1,Afghanistan,Agricultural census,2020,0
2,Afghanistan,Balance of payments manual in use,2020,1
3,Afghanistan,Child malnutrition,2020,0.66667
4,Afghanistan,Child mortality,2020,1
...,...,...,...,...
71480,Afghanistan,Primary completion,2004,0
71481,Afghanistan,Source data assessment of statistical capacity...,2004,20
71482,Afghanistan,Special Data Dissemination Standard,2004,0
71483,Afghanistan,UNESCO reporting,2004,0
71484,Afghanistan,Vital registration system coverage,2004,0

In [239]:
mask = (
    (df_melted.Country_Name.isin(['Albania']))
    & (df_melted.Series_Name == 'Access to water')
    & (df_melted.Year >= 2000)
    & (df_melted.Year <= 2020)
)

In [234]:
data_list = []
filtered_dataset = df_melted[mask].copy()
for country_name in filtered_dataset.Country_Name.unique():
    df_temp = filtered_dataset[filtered_dataset['Country_Name'] == country_name]
    dict_append = {
        "x": df_temp["Year"],
        "y": df_temp["Value"],
        "type": "lines",
        "hovertemplate": "%{y:.2f}<extra></extra>",
        "name": country_name
    }
    data_list.append(dict_append)

In [226]:
df_melted.loc[df_melted['Series_Name'] == 'Access to water'].groupby('Year').agg({'Value': 'median'})

        Value
Year
2004.0    1.0
2005.0    1.0
2006.0    1.0
2007.0    1.0
2008.0    1.0
2009.0    1.0
2010.0    1.0
2011.0    1.0
2012.0    1.0
2013.0    1.0
2014.0    1.0
2015.0    1.0
2016.0    1.0
2017.0    1.0
2018.0    1.0
2019.0    1.0
2020.0    1.0

In [208]:
df_melted.loc[(df_melted.Country_Name == 'Afghanistan')
        & (df_melted.Series_Name == 'Access to water')
        & (df_melted.Year >= 2000)
        & (df_melted.Year <= 2020)]

      Country_Name      Series_Name  Year Value
0      Afghanistan  Access to water  2020     1
4466   Afghanistan  Access to water  2019     1
8932   Afghanistan  Access to water  2018     1
13398  Afghanistan  Access to water  2017     1
17864  Afghanistan  Access to water  2016     1
22330  Afghanistan  Access to water  2015     1
26796  Afghanistan  Access to water  2014     1
31262  Afghanistan  Access to water  2013     1
35728  Afghanistan  Access to water  2012     1
40194  Afghanistan  Access to water  2011     1
44660  Afghanistan  Access to water  2010     1
49126  Afghanistan  Access to water  2009     1
53592  Afghanistan  Access to water  2008     1
58058  Afghanistan  Access to water  2007     1
62524  Afghanistan  Access to water  2006     1
66990  Afghanistan  Access to water  2005     1
71456  Afghanistan  Access to water  2004     1