In [2]:
from edfs.firebase import ls, \
    mkdir, rm, read_dataset

In [7]:
df = read_dataset("/root/user/Consume_Price_Index")

In [5]:
df.to_csv('Consume_Price_Index.csv', index=False)

In [1]:
import pandas as pd
import requests
import json

firebase_url = 'https://dsci551-project-52d43-default-rtdb.firebaseio.com/'

def seek(path):
    url = firebase_url + path + '.json'
    try:
        rget = requests.get(url)
        return rget
    except:
        print('ERROR')
        

def ls(path: str) -> str:
    '''List files under path/.

    Args:
        path (str): path starting from NameNode/
    Returns:
        (str) Success or Error message
    '''
    slist = seek(f"NameNode/{path}")
    rlist = slist.json()

    result_list = []

    if type(rlist) == dict: # iterate over rlist if rlist != None
        for key, value in rlist.items():
            if key == "_": # empty directory
                continue
            if type(value) == dict: # if item is folder, add '/' to the end of thge string
                result_list.append(key + "/")
            else:
                result_list.append(key)
        output = 'empty' if not result_list else ', '.join(result_list)
    elif not rlist:
        output = f'Path {path} not found'
    else: 
        output = f'{path} is not a folder'
    
    return output

def mkdir(path: str) -> str:
    '''Create directory if not exists

    Args:
        path: relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    full_path = f'NameNode/{path}'
    if seek(full_path).json() is None:
        url = firebase_url + full_path + '.json'
        data = '{"_" : "_"}' # empty directory
        r = requests.put(url,data)
        output = f'Directory {path} created'
    else:
        output  = 'Directory ' + path + ' already exists'
    return output

In [6]:
def rm(path: str) -> str:
    '''Delete directory if exists

    Args:
        path: relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    full_path = f'NameNode/{path}'
    if seek(full_path).json() is None:
        output = 'Directory not found'
    else:
        url = firebase_url + full_path + '.json'
        d = requests.delete(url)
        if d.status_code == 200:
            output = path + ' was succefully deleted'
    return output

In [7]:
def getPartitionLocation(file: str) -> str:
    '''Return the locations of partitions of the
        file
    Args:
        file (str): relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    path = "NameNode/" + file + "/partitions"
    rpath = seek(path)
    partition = requests.get(rpath.url)
    pdict = partition.json()       

    if pdict is None:
        output = f'Partitions for {file} not found'
    else:
        output = json.dumps(pdict, indent=4, sort_keys=True) # Organizing the data
    
    return output

In [8]:
functions = {
    'ls': ls, 'mkdir': mkdir, 'rm': rm,
    'readPartition': readPartition,
    'getPartitionLocation': getPartitionLocation
}

NameError: name 'readPartition' is not defined

In [ ]:
input_text = 'readPartition root/user/Stats_Cap_Ind Argentina'
input = input_text.split(' ')
function_name = input[0]
params = input[1:]

In [ ]:
# functions[function_name](*params)

In [ ]:
getPartitionLocation("Stats_Cap_Ind")

'Partitions for Stats_Cap_Ind not found'

In [ ]:
def readPartition(file, partition) -> str:
    '''Return the content of partition # of
    the specified file
    Args:
        file (str): relative path to NameNode/
        partition (str):  name of the partition
    Returns:
        (str) Success or Error message
    '''
    try:
        pdict = json.loads(getPartitionLocation(file))
        url = pdict[partition]
        pdict = requests.get(url).json()
        output = json.dumps(pdict, indent=4, sort_keys=True)
    except:
        output = 'Partition not found'
    return output

In [ ]:
def readUrl(url) -> json:
    return requests.get(url).json()

In [ ]:
a = readUrl("https://dsci551-project-52d43-default-rtdb.firebaseio.com/DataNode/Afghanistan/Stats_Cap_Ind.json")

In [ ]:
file = "root/user/dasdasd"
path = "NameNode/" + file + "/partitions"
rpath = seek(path)

In [ ]:
rpath.json()

In [ ]:
a = "\n".join("{}\t{}".format(k, v) for k, v in result.items())

In [ ]:
def search_partitions(country_name: list, file_name: str, series_name: str):
    list_partitions = []
    partitions = getPartitionLocation(f"root/user/{file_name}")
    partitions = json.loads(partitions)
    for country in country_name:
        list_partitions.append(partitions.get(country))
    return list_partitions

In [ ]:
from functools import reduce

In [ ]:
def _sum(a, b):
    return a + b

def _sum2(a, b, c):
    return a + b

def _count(a, b):
    return a + 1

In [ ]:
def readUrl(url, filter_year: list = [], index:str = 'year') -> json:

    filter_str = ''
    if filter_year:
        filter_str = f"""?orderBy="{index}"&startAt={filter_year[0]}&endAt={filter_year[1]}"""
    return requests.get(f"{url}{filter_str}").json()

In [ ]:
readUrl('https://dsci551-project-52d43-default-rtdb.firebaseio.com/DataNode/Afghanistan/Stats_Cap_Ind.json', [2005, 2007])

{'error': 'Index not defined, add ".indexOn": "year", for path "/DataNode/Afghanistan/Stats_Cap_Ind", to the rules'}

In [ ]:
def map_partitions(partitions: list):
    list_of_result = []
    for partition in partitions:
        # print(partition)
        # result = sum(partition)
        result = reduce(_sum, partition)
        list_of_result.append(result)
    return list_of_result

In [ ]:
map_partitions([[1,2,3,1], [1,1,1,1]])

[7, 4]

In [ ]:
# reduce(_sum2, [1,2,3])

In [ ]:
reduce(_count, [[1,2,3,1], [1,1,1,1]], 0)

2

In [ ]:
search_partitions(["Afghanistan", "Azerbaijan"], 'Stats_Cap_Ind', None)

['https://dsci551-project-52d43-default-rtdb.firebaseio.com/DataNode/Afghanistan/Stats_Cap_Ind.json',
 'https://dsci551-project-52d43-default-rtdb.firebaseio.com/DataNode/Azerbaijan/Stats_Cap_Ind.json']

In [ ]:
import json
a = json.dumps(result, indent=4, sort_keys=True)

In [ ]:
file = "root/user/Stats_Cap_Ind"
result = getPartitionLocation(file)

In [10]:
# result

In [ ]:
dict_1 =json.loads(result)

In [ ]:
rm("root/daniel")

'root/daniel was succefully deleted'

In [ ]:
mkdir("data2/China")

'Directory data2/China already exists'

In [ ]:
input_text = "ls dsdadsada dasd"
input = input_text.split(' ')

In [ ]:
input_text = "ls root/daniel/test2"

In [ ]:
functions = {'ls': ls, 'mkdir': mkdir, 'rm': rm}

input = input_text.split(' ')
function_name = input[0]
params = input[1:]

try:
    output = functions[function_name](*params)
except KeyError:
    output = "Command not found. Valid commands: ls, mkdir, rm, put, getPartitionLocations, readPartition"
except TypeError:
    output = "Please verify function required arguments"
print(output)

empty

In [ ]:
functions[function_name](*params)

['user']

In [ ]:
args = (2,3)

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("datasets/Data_Extract_From_Statistical_Capacity_Indicators/42377300-c075-4554-a55f-41cd64c79126_Data.csv")

In [18]:
df.sample(500).to_csv('datasets/Stats_Cap_Ind_Sample.csv', index=False)

In [19]:
# function to get year columns
def is_year (c):
    return any(char.isdigit() for char in c)

# change columns names
new_columns = list()
columns = df.columns
for c in columns:
    if is_year(c):
        new_columns.append(c[:4])
    else:
        new_columns.append(c.replace(" ","_"))

# change column names in dataframe
df.columns = new_columns

22/11/20 08:02:03 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 262682 ms exceeds timeout 120000 ms
22/11/20 08:02:03 WARN SparkContext: Killing executors is not supported by current scheduler.

In [ ]:
df_melted = df.melt(id_vars=["Country_Name", "Series_Name"], 
        var_name="Year", 
        value_name="Value")

In [ ]:
df_melted['Year'] = df_melted['Year'].astype(int)

In [ ]:
import numpy as np

In [ ]:
df_melted = df_melted.loc[df_melted['Value'] != '..'].copy()

In [ ]:
df_melted.loc[df_melted['Value'] != '..']['Value'].astype(float)

0         1.00000
1         0.00000
2         1.00000
3         0.66667
4         1.00000
           ...
75917     0.00000
75918    50.00000
75919     0.00000
75920     0.00000
75921     0.00000
Name: Value, Length: 69959, dtype: float64

In [ ]:
df_melted['Value'] = df_melted['Value'].astype(float)

In [ ]:
df_melted.loc[
    (df_melted['Country_Name'] == 'Afghanistan') & (df_melted['Series_Name'] == 'Child malnutrition')]

      Country_Name         Series_Name  Year    Value
3      Afghanistan  Child malnutrition  2020  0.66667
4469   Afghanistan  Child malnutrition  2019  0.33333
8935   Afghanistan  Child malnutrition  2018  0.33333
13401  Afghanistan  Child malnutrition  2017  0.33333
17867  Afghanistan  Child malnutrition  2016  0.33333
22333  Afghanistan  Child malnutrition  2015  0.33333
26799  Afghanistan  Child malnutrition  2014  0.33333
31265  Afghanistan  Child malnutrition  2013  0.33333
35731  Afghanistan  Child malnutrition  2012  0.33333
40197  Afghanistan  Child malnutrition  2011  0.33333
44663  Afghanistan  Child malnutrition  2010  0.66667
49129  Afghanistan  Child malnutrition  2009  0.66667
53595  Afghanistan  Child malnutrition  2008  0.66667
58061  Afghanistan  Child malnutrition  2007  0.33333
62527  Afghanistan  Child malnutrition  2006  0.33333
66993  Afghanistan  Child malnutrition  2005  0.33333
71459  Afghanistan  Child malnutrition  2004  0.33333

In [ ]:
df_melted.loc[
    (df_melted['Country_Name'] == 'Afghanistan')]# & (df_melted['Series_Name'] == 'Child malnutrition')]

,Country_Name,Series_Name,Year,Value
0,Afghanistan,Access to water,2020,1
1,Afghanistan,Agricultural census,2020,0
2,Afghanistan,Balance of payments manual in use,2020,1
3,Afghanistan,Child malnutrition,2020,0.66667
4,Afghanistan,Child mortality,2020,1
...,...,...,...,...
71480,Afghanistan,Primary completion,2004,0
71481,Afghanistan,Source data assessment of statistical capacity...,2004,20
71482,Afghanistan,Special Data Dissemination Standard,2004,0
71483,Afghanistan,UNESCO reporting,2004,0
71484,Afghanistan,Vital registration system coverage,2004,0

In [ ]:
mask = (
    (df_melted.Country_Name.isin(['Albania']))
    & (df_melted.Series_Name == 'Access to water')
    & (df_melted.Year >= 2000)
    & (df_melted.Year <= 2020)
)

In [ ]:
data_list = []
filtered_dataset = df_melted[mask].copy()
for country_name in filtered_dataset.Country_Name.unique():
    df_temp = filtered_dataset[filtered_dataset['Country_Name'] == country_name]
    dict_append = {
        "x": df_temp["Year"],
        "y": df_temp["Value"],
        "type": "lines",
        "hovertemplate": "%{y:.2f}<extra></extra>",
        "name": country_name
    }
    data_list.append(dict_append)

In [ ]:
df_melted.loc[df_melted['Series_Name'] == 'Access to water'].groupby('Year').agg({'Value': 'median'})

      Value
Year
2004    1.0
2005    1.0
2006    1.0
2007    1.0
2008    1.0
2009    1.0
2010    1.0
2011    1.0
2012    1.0
2013    1.0
2014    1.0
2015    1.0
2016    1.0
2017    1.0
2018    1.0
2019    1.0
2020    1.0

In [ ]:
df_melted.loc[(df_melted.Country_Name == 'Afghanistan')
        & (df_melted.Series_Name == 'Access to water')
        & (df_melted.Year >= 2000)
        & (df_melted.Year <= 2020)]

      Country_Name      Series_Name  Year Value
0      Afghanistan  Access to water  2020     1
4466   Afghanistan  Access to water  2019     1
8932   Afghanistan  Access to water  2018     1
13398  Afghanistan  Access to water  2017     1
17864  Afghanistan  Access to water  2016     1
22330  Afghanistan  Access to water  2015     1
26796  Afghanistan  Access to water  2014     1
31262  Afghanistan  Access to water  2013     1
35728  Afghanistan  Access to water  2012     1
40194  Afghanistan  Access to water  2011     1
44660  Afghanistan  Access to water  2010     1
49126  Afghanistan  Access to water  2009     1
53592  Afghanistan  Access to water  2008     1
58058  Afghanistan  Access to water  2007     1
62524  Afghanistan  Access to water  2006     1
66990  Afghanistan  Access to water  2005     1
71456  Afghanistan  Access to water  2004     1

# Spark

In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [2]:
import pyspark
from pyspark import SparkContext
sc = SparkContext()

/usr/local/Cellar/apache-spark/3.3.1/libexec/bin/spark-class: line 71: /Library/java/JavaVirtualMachines/adoptopenjdk-8.jdk/contents/Home//bin/java: No such file or directory
/usr/local/Cellar/apache-spark/3.3.1/libexec/bin/spark-class: line 96: CMD: bad array subscript
head: illegal line count -- -1

RuntimeError: Java gateway process exited before sending its port number

In [6]:
spark= SparkSession \
    .builder \
    .getOrCreate()

In [7]:
df = spark.read.format("csv").option("header","true").load("datasets/Data_Extract_From_Statistical_Capacity_Indicators/42377300-c075-4554-a55f-41cd64c79126_Data.csv")

# MySQL

In [272]:
import mysql.connector as ccnx
import csv
import re
import sys
import pandas as pd


#python connector setup
mydb = ccnx.connect(
    host="localhost",
    user="root",
    password="root",
    database="edfs"
)
mycursor = mydb.cursor(buffered=True)

####################
# Helper Functions #
####################

def Sort_Tuple(tup: list, idx: int) -> list:
    '''
    Return the sorted list of tuples by the element of the tuple
    Args:
        tup (list): unsorted list of tuples
        idx (int): the element of the tuple to sort by
    Returns:
        (list) Sorted list of tuples
    '''
    return(sorted(tup, key = lambda x: x[idx]))

def key_idx(str_list):
    '''
    Return the index of 'Country Name' if it exists in the dataset, and 0 if
    the column name is not present
    Args:
        str_list (list): the list of column names
    Returns:
        (int) the index returned
    '''
    try:
        return str_list.index('Country Name')
    except:
        return 0

def key_cleaning(row):
    #key cleaning
    clean_key =  re.sub(r'[^A-Za-z0-9 ]+', '', row[0]).replace(" ", "_")
    key = clean_key if clean_key != "" else "invalid_key"
    if key.isnumeric() and key.length() > 0:
        key = f"t{key}"
    if len(key) >= 64:
        key = key[0:40]
    return key

####################
# API Functions    #
####################

def read_dataset(path):
    # (partition_name, csv_index, comma-separated-string)
    list_of_tuples = getPartitionData(path)
    list_of_lists = [tuple[2].split(",") for tuple in list_of_tuples]
    df = pd.DataFrame(list_of_lists)

    new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    df.columns = new_header #set the header row as the df header

    df = df.drop(["Country Code", "Series Code"], "columns")

    df_melted = df.melt(id_vars=["Country Name", "Series Name"],
        var_name="Year",
        value_name="Value")

    df_melted["Year"] = df_melted["Year"].str[0:4]

    df_melted = df_melted.loc[df_melted.Value.str.isnumeric()].copy()

    # change columns names
    new_columns = list()
    columns = df_melted.columns
    for c in columns:
            new_columns.append(c.replace(" ","_"))

    # change column names in dataframe
    df_melted.columns = new_columns

    return df_melted.astype({'Year':'int', 'Value': 'float'})

def seek(path):
    '''
    Returns the filestructure that matches the specified path
    Args:
        str_list (list): the list of column names
    Returns:
        (int) the index returned
    '''
    seek_statement = "SELECT * FROM df WHERE path = %s"
    mycursor.execute(seek_statement, (path,))
    myresult = mycursor.fetchall()
    return myresult

def mkdir(path, name):
    '''
    Create the directory at the specfied path in the filesystem
    Args:
        path (str): the path to the directory's home
        name (str): the name of the directory
    Returns:
        output (str): success or failure of the operation
    '''
    result = seek(path)
    if result:
        if result[0][1] == "DIRECTORY":
            pathname = f"{path}/{name}"
            dup_result = seek(pathname)
            if not dup_result:
                insert_statement = "INSERT INTO df VALUES (%s, 'DIRECTORY')"
                mycursor.execute(insert_statement, (pathname,))
                mydb.commit()
                output = f"directory {name} created"
            else:
                output = "directory already exists"
    else:
        output = f"Invalid path: {path}"
    return output

def rm(path, name):
    '''
    Removes the directory at the specfied path in the filesystem
    Args:
        path (str): the path to the directory's home
        name (str): the name of the directory
    Returns:
        output (str): success or failure of the operation
    '''
    result = seek(path)
    filepath =  f"{path}/{name}"
    if result:
        select_statement = "SELECT * FROM df WHERE path LIKE %s"
        mycursor.execute(select_statement, (filepath + "%",))
        result = mycursor.fetchall()
        if len(result) != 1:
            output = "invalid deletion"
        else:
            delete_statement = "DELETE FROM df WHERE path LIKE %s"
            mycursor.execute(delete_statement, (filepath,)) #TODO: adding % here will add -r functionality
            mydb.commit()
            output = f"{filepath} deleted"
    else:
        output = f"Invalid path: {filepath}"
    return output

def ls(path):
    '''
    Returns the contents of the directory at the specfied path in the filesystem
    Args:
        path (str): the path to the directory's home
        name (str): the name of the directory
    Returns:
        output (str): success or failure of the operation
    '''
    result = seek(path)
    if result:
        if result[0][1] == "FILE":
            output = "Cannot run 'ls' on files"
        elif result[0][1] == "DIRECTORY":
            ls_statement = "SELECT * FROM df WHERE path REGEXP %s"
            mycursor.execute(ls_statement, (f"^{path}\/[^\/]+$",))
            output = mycursor.fetchall()
    else:
        output = f"Invalid path: {path}"
    return output

def getPartitionLocations(path):
    '''
    Returns the blockLocations that match the file at the specified
    Args:
        path (str): the path to the file
    Returns:
        output (obj): the blockLocations in a list of tuples
    '''
    cat_statement = "SELECT * FROM blockLocations WHERE path = %s"
    mycursor.execute(cat_statement, (path,))
    result = mycursor.fetchall()
    return result

def readPartition(path, partition_name):
    '''
    Returns the contents of a specified partition_name
    Args:
        path (str): the path to the file
        partition_name: the name of the partition
    Returns:
        [list of (tuple)]: the data contents of the partition
    '''
    mycursor.execute(f"SELECT * FROM {partition_name} WHERE path = %s", (path,))
    result = mycursor.fetchall()
    partition_data = []
    for line in result:
        partition_data.append((partition_name, line[1], line[2]))
    return partition_data

def cat(path):
    '''
    Returns the contents the file at the specified path
    Args:
        path (str): the path to the file
    Returns:
        output (obj): the text of the file
    '''
    output = ""
    sorted_data_list = getPartitionData(path)
    for s in sorted_data_list:
        output += s[2] +"\n"
    return output

def getPartitionData(path):
    '''
    Returns the contents the file at the specified path
    Args:
        path (str): the path to the file
    Returns:
        output (obj): the text of the file
    '''
    result = seek(path)
    output = ""
    if result:
        if result[0][1] == "DIRECTORY":
            output = "Cannot run 'cat' on directories"
        elif result[0][1] == "FILE":
            myresult = getPartitionLocations(path)
            data_list = []
            for partition in myresult:
                data_list = data_list + readPartition(path, partition[1])
            sorted_data_list = Sort_Tuple(data_list, 1)
            return sorted_data_list
    else:
        output = f"Invalid path: {path}"
    return output

def put(path, name, csv):
    '''
    places the file from a local directory into the EDFS
    Args:
        path (str): the path to the file
        name (str): the name of the file to be created
        csv (str): the path to the csv file to be placed
    Returns:
        output (str): the success or failure of the operation
    '''
    result = seek(path)
    if result:
        if result[0][1] == "DIRECTORY":
            dup_result = seek(f"{path}/{name}")
            if not dup_result:
                hash_lists = hash(path, name, csv)
                output = f"file {name} created"
            else:
                output = "file already exists"
        else:
            output = "cannot place a file in a file"
    else:
        output = f"Invalid path: {path}"
    return output



def hash(path, name, csv_file):
    '''
    Alters the metadata to allocate new datanotes if needed and places the file
    data into the nodes
    Args:
        path (str): the path to the file
        name (str): the name of the file to be created
        csv (str): the path to the csv file to be placed
    Returns:
        key_list (list): the list of keys to datanodes that have been
        allocated to
    '''

    #execute metadata alter
    meta_statement = "INSERT INTO df VALUES (%s, 'FILE');"
    mycursor.execute(meta_statement, (f"{path}/{name}",))
    mydb.commit()
    with open(csv_file) as f:

        key_list, csv_counter = {}, 0
        reader = csv.reader(f, delimiter=',')
        header = next(reader)
        key_index = key_idx(header)
        key = key_cleaning(header)

        #TODO: modularize this create code JFC
        try:
            create_statement = f"""
                CREATE TABLE IF NOT EXISTS {key}(
                    path varchar(255),
                    data_index int,
                    data text,
                    FOREIGN KEY(path) REFERENCES df(path) ON DELETE CASCADE
                )"""
            insert_hash_statement = f"INSERT INTO {key} VALUES (%s, %s, %s);"
            mycursor.execute(create_statement)
            mydb.commit()
            mycursor.execute(insert_hash_statement, (path + "/" + name, csv_counter, ','.join(header)))
            mydb.commit()
            key_list[key] = None
            csv_counter += 1
        except:
            output = f"ERROR: {mycursor.statement}"

        for row in reader:
            key = key_cleaning(row)
            #try insert data into datanode
            try:
                create_statement = f"""
                    CREATE TABLE IF NOT EXISTS {key}(
                        path varchar(255),
                        data_index int,
                        data text,
                        FOREIGN KEY(path) REFERENCES df(path) ON DELETE CASCADE
                    )"""
                insert_hash_statement = f"INSERT INTO {key} VALUES (%s, %s, %s);"
                mycursor.execute(create_statement)
                mydb.commit()
                mycursor.execute(insert_hash_statement, (path + "/" + name, csv_counter, ','.join(row)))
                mydb.commit()
                key_list[key] = None
                csv_counter += 1
            except:
                output = f"ERROR: {mycursor.statement}"
                rm(path, name)
                # return output

        #write data into datanodes
        for key in key_list.keys():
             block_statement = "INSERT INTO blockLocations VALUES(%s, %s);"
             mycursor.execute(block_statement, (f"{path}/{name}", key))
        mydb.commit()
        return key_list

######################
# Database Functions #
######################

def delete(list):
    '''
    Drops all tables in the list from the edfs
    Args:
        list (list): the list of table names to drop
    Returns:
        (str): the success or failure of the operation
    '''
    try:
        for item in list:
            drop_table = f"DROP TABLE {key}"
            mycursor.execute(drop_table)
            mydb.commit()
        return "Dropped tables"
    except:
        return "Database drop error"

def new_env(edfs):
    '''
    Executes EDFS SQL setup queries
    Args:
        edfs (str): the name of the EDFS filesystel to setup
    Returns:
        (str): the success or failure of the operation
    '''
    env_statements = [
            f"CREATE DATABASE {edfs}",
            f"USE {edfs}",
            """
                CREATE TABLE df (
                    path varchar(255),
                    type varchar(255),
                    PRIMARY KEY(path)
                )""",
            "INSERT INTO df VALUES ('/root', 'DIRECTORY')",
            """
                CREATE TABLE blockLocations (
                    path varchar(255),
                    partition_name varchar(255),
                    CONSTRAINT FOREIGN KEY (path) REFERENCES df(path) ON DELETE CASCADE
                )"""
    ]
    try:
        for s in env_statements:
            mycursor.execute(s)
        mydb.commit()
        return f"{edfs} created"
    except:
        return "Database error"

def delete_env(edfs):
    '''
    Drops the EDFS database entirely
    Args:
        edfs (str): the name of the EDFS filesystel to drop
    Returns:
        (str): the success or failure of the operation
    '''
    try:
        drop_database = f"DROP DATABASE {edfs};"
        mycursor.execute(drop_database)
        mydb.commit()
    except:
        return "Database error"
    return  f"{edfs} deleted"

def start_env(edfs):
    '''
    Uses EDFS database
    Args:
        edfs (str): the name of the EDFS filesystem to run
    Returns:
        (str): the success or failure of the operation
    '''
    try:
        use_database = f"USE {edfs}"
        mycursor.execute(use_database)
    except:
        return "Database error"
    return  f"{edfs} started"

# def test_edfs(argv):

#     edfs = "edfs"

#     #Testing
#     if "--delete" in argv:
#         print(delete_env(edfs))
#     elif "--new" in argv:
#         print(new_env(edfs))
#     elif "--restart" in argv:
#         print(delete_env(edfs))
#         print(new_env(edfs))
#     else:
#         print(start_env(edfs))
#         print(mkdir("/root", "foo"))
#         print(mkdir("/root/foo", "bar"))
#         #todo: put check to make sure that the file source exists
#         print(put("/root/foo", "data", "../datasets/sql-edfs/data.csv"))
#         print(cat("/root/foo/data"))
#         print(ls("/root/foo"))
#         print(rm("/root", "data"))
#         print(ls("/tree"))


#     # test_edfs(sys.argv)

In [273]:
edfs="edfs"
delete_env(edfs)

'Database error'

In [271]:
df2 = read_dataset(mycursor, "/root/foo/data")

TypeError: read_dataset() takes 1 positional argument but 2 were given

In [203]:
df2.head()

     Country Name                              Series Name  Year  Value
7591      Albania  Access to electricity (% of population)  1990  100.0
7594      Andorra  Access to electricity (% of population)  1990  100.0
7599        Aruba  Access to electricity (% of population)  1990  100.0
7600    Australia  Access to electricity (% of population)  1990  100.0
7601      Austria  Access to electricity (% of population)  1990  100.0

In [147]:
df = df[~df['Value'].isnull()].copy()

TypeError: list indices must be integers or slices, not str

In [198]:
df2.loc[df2.Value.str.isnumeric()]['Value'].astype(float)

7591     100.0
7594     100.0
7599     100.0
7600     100.0
7601     100.0
         ...
15379    100.0
15380    100.0
15381    100.0
15393    100.0
15418    100.0
Name: Value, Length: 2739, dtype: float64

In [104]:
df['Value']

0         AFG
1         ALB
2         DZA
3         ASM
4         AND
         ...
17285    None
17286    None
17287    None
17288    None
17289    None
Name: Value, Length: 17290, dtype: object

In [97]:
# set(df['Series Name'])

In [ ]:
if __name__ == "__main__":

    #python connector setup
    mydb = ccnx.connect(
      host="localhost",
      user="root",
      password=sys.argv[1],
    )
    mycursor = mydb.cursor(buffered=True)

    test_edfs(mycursor, sys.argv)

In [191]:
delete_env(mycursor,edfs)
new_env(mycursor,edfs)

'edfs created'

In [131]:
# drop_database = f"DROP DATABASE {edfs};"
# mycursor.execute(drop_database)
# mycursor.commit()
put(mycursor, "/root/foo", "data", "datasets/sql-edfs/data.csv")

'Invalid path: /root/foo'

In [175]:
# getPartitionLocations(mycursor, "/root/foo/data")

In [192]:
mkdir(mycursor, "/root", "foo")
mkdir(mycursor, "/root/foo", "bar")
#todo: put check to make sure that the file source exists
put(mycursor, "/root/foo", "data", "datasets/sql-edfs/data.csv")

'file data created'

In [274]:
mydb = ccnx.connect(
    host="localhost",
    user="root",
    password="root",
    database="edfs"
)
mycursor = mydb.cursor(buffered=True)

In [165]:
# put(mycursor, "/root/foo", "data", "datasets/sql-edfs/data.csv")

In [275]:

edfs = "edfs"

In [32]:
new_env(mycursor, edfs)

'Database error'

In [276]:
print(cat(mycursor, "/root/foo/data"))

TypeError: cat() takes 1 positional argument but 2 were given

In [34]:
# print(mkdir(mycursor, "/root", "foo"))
# print(mkdir(mycursor, "/root/foo", "bar"))
#todo: put check to make sure that the file source exists
print(put(mycursor, "/root/foo", "data", "datasets/sql-edfs/data.csv"))

file already exists

In [3]:
# spark = SparkSession.builder.appName('DataLake_Ingestion').getOrCreate()

In [ ]:
spark = SparkSession.builder.master("spark://3.86.208.117:7077")\
    .config("spark.shuffle.service.enabled", "false")\
    .config("spark.dynamicAllocation.enabled", "false")\
    # .config("spark.submit.deployMode", "cluster")\
    .config("spark.driver.memory", "5g")\
    .config("spark.executor.memory", "5g")\
    .config("spark.executor.instances", "1")\
    .config("spark.executor.cores", "2")\
    .getOrCreate()

        # .config("spark.driver.host", "3.86.208.117")\
    # .config("spark.driver.bindAddress", "3.86.208.117")\

Exception in thread "main" org.apache.spark.SparkException: Cluster deploy mode is currently not supported for python applications on standalone clusters.
	at org.apache.spark.deploy.SparkSubmit.error(SparkSubmit.scala:975)
	at org.apache.spark.deploy.SparkSubmit.prepareSubmitEnvironment(SparkSubmit.scala:273)
	at org.apache.spark.deploy.SparkSubmit.org$apache$spark$deploy$SparkSubmit$$runMain(SparkSubmit.scala:901)
	at org.apache.spark.deploy.SparkSubmit.doRunMain$1(SparkSubmit.scala:180)
	at org.apache.spark.deploy.SparkSubmit.submit(SparkSubmit.scala:203)
	at org.apache.spark.deploy.SparkSubmit.doSubmit(SparkSubmit.scala:90)
	at org.apache.spark.deploy.SparkSubmit$$anon$2.doSubmit(SparkSubmit.scala:1046)
	at org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:1055)
	at org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)

RuntimeError: Java gateway process exited before sending its port number

In [2]:
# rdd = spark.sparkContext.parallelize([1,2,1,1,11])
rdd = sc.parallelize([1,2,1,1,11])

In [204]:
import edfs.firebase as file_system

In [205]:
data = file_system.read_dataset(f"root/user/Stats_Cap_Ind_Sample")

In [206]:
data

,Country_Name,Country_Code,Series_Name,Series_Code,Year,Value
0,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2020,0.66667
1,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2020,1.00000
2,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2019,0.00000
3,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2019,0.00000
4,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2018,0.00000
5,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2018,0.00000
6,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2017,0.00000
7,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2017,0.00000
8,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2016,0.00000
9,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2016,0.00000
10,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2015,0.00000
11,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2015,0.00000
12,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2014,0.00000
13,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2014,1.00000
14,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2013,0.00000
15,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2013,1.00000
16,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2012,0.00000
17,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2012,1.00000
18,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2011,0.33333
19,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2011,1.00000
20,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2010,0.33333
21,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2010,1.00000
22,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2009,0.33333
23,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2009,1.00000
24,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2008,0.33333
25,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2008,1.00000
26,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2007,0.33333
27,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2007,1.00000
28,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2006,0.00000
29,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2006,1.00000
30,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2005,0.00000
31,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2005,1.00000
32,Afghanistan,AFG,Primary completion,5.51.01.08.primcomp,2004,0.00000
33,Afghanistan,AFG,National accounts base year,2.01.01.02.nabase,2004,0.00000

# Mongo DB

In [16]:
import mysql.connector as ccnx
import csv
import re
import sys
import pandas as pd
from pymongo import MongoClient

########################
# mongodb client setup #
########################

client = MongoClient('mongodb://root:root@localhost:27017/')
db = client['edfs']
# db = new Mongo().getDB("edfs")
#collection = db['name_of_collection']

#python connector setup
mydb = ccnx.connect(
    host="localhost",
    user="root",
    password="root",
    database="edfs_mongo"
)
mycursor = mydb.cursor(buffered=True)

In [277]:
import csv
import re
import sys
import pandas as pd
from pymongo import MongoClient
import simplejson as sp
import json
import os

#mongodb client setup
client = MongoClient('localhost', 27017)
db = client['edfs']
#collection = db['name_of_collection']

#python connector setup

####################
# Helper Functions #
####################

def Sort_Tuple(tup: list, idx: int) -> list:
    return(sorted(tup, key = lambda x: x[idx]))

def key_idx(str_list):
    try:
        return str_list.index('Country Name')
    except:
        return 0

def key_cleaning(row):
    #key cleaning
    clean_key =  re.sub(r'[^A-Za-z0-9 ]+', '', row[0]).replace(" ", "_")
    key = clean_key if clean_key != "" else "invalid_key"
    if key.isnumeric() and key.length() > 0:
        key = f"t{key}"
    if len(key) >= 64:
        key = key[0:40]
    return key

####################
# API Functions    #
####################

def read_dataset(path):
    df=pd.read_csv(path)
    df=df.reset_index()
    df_melted = df.melt(df.set_index('Country Name'))
    new_columns = list()
    columns = df_melted.columns.str.strip()
    for c in columns:
            new_columns.append(c.replace(" ","_"))

    # change column names in dataframe
    df_melted.columns = new_columns
    df_melted.columns = df_melted.columns.astype(str)
    #print("readDataset", df_melted.astype({'Year':'int', 'Value': 'float'}))
    return df_melted

def seek(path):
    #print("seek", db.blockLocations.find_one({"path": path}))
    return db.blockLocations.find_one({"Path": path})

def mkdir(path, name):
    result = seek(path)
    output = ""
    #print("mkdir", result)
    if not result:
        path = path + "/" + name
        db.blockLocations.insert_one({"Path": path, "type" : 'DIRECTORY'})
    else:
        output = f"Invalid path: {path}"
    print("mkdir",output)
    #return output

def rm(path, name):
    result = seek(path)
    path =  f"{path}/{name}"
    output = ""
    if result:
        db.blockLocations.insert_one({"Path": path, "type" : 'DIRECTORY'})
        output = f"{path} deleted"
    else:
        output = "invalid deletion"
    print(output)
    return output


def ls(path):
    result = seek(path)
    if result:
        if result["type"] == "FILE":
            output = "Cannot run 'ls' on files"
        elif result["type"] == "DIRECTORY":
            #output1=db.df.find()
            query = {"path": {"$regex": f"{path}","$options" :'i'}}
            output1=db.blockLocations.find(query)
            final=[]
            for o in output1:
                final.append(o)
    else:
        final = f"Invalid path: {path}"
    
    if(len(final)==0):
        return final
    else:
        return final

def readPartition(inp,file,path):
    #a=put(file,path)
    path1= '/'+path+'/'+file+'/'+inp
    X = db.blockLocations.find_one({"path":path1})
    if(X):
        return ("FILE EXISTS")
    else:
        return ("FILE DOES NOT EXIST")

def cat(path):
    db.blockLocations.aggregate([
  { "$project": { "path": { "$concat": [ "$path", " - ", "$type" ] } } },
  { "$merge": "Concatenate" }
])
    return("Concatenated")

def put(path, name, csvf):
    header = [ "\ufeffCountry Name",	"Country Code",	"Indicator Name",
    	"2003",	"2004",	"2005",	"2006",	"2007",	"2008",	"2009",	
        "2010",	"2011",	"2012",	"2013",	"2014",	"2015",	"2016",
        "2017",	"2018",	"2019",	"2020",	"2021"]
    csvpath = path+csvf
    csvfile = open( "/Users/digvijaydesai/Downloads/ashita_code/Data.csv", 'r')
    reader = csv.DictReader( csvfile )
    #print(reader)
    for each in reader:
        #print(each)
        row={}
        blockLoc = {}
        for field in header:
            row[field]=each[field]
            blockLoc["path"] = path+ "/"+ each["\ufeffCountry Name"]
            blockLoc["type"] = "FILE"
        #print (row)
        db.df.insert_one(row)
        db.blockLocations.insert_one(blockLoc)
    return("Inserted Data")

#session = db.getMongo().startSession( { readPreference: { mode: "primary" } } )


######################
# Database Functions #
######################

def delete(list):
    try:
        for item in list:
            col=db[f"item"]
            col.drop()
        return "Dropped tables"
    except:
        return "Database drop error"

def new_env(edfs):
    try:
        db = client['edfs']
        db.df.insert_one({"path":'/root',"type":'DIRECTORY'})
        return f"{edfs} created"
    except:
        return "Database error"

def delete_env(edfs):
    try:
        client.drop_database('edfs')
    except:
        return "Database error"
    return  f"{edfs} deleted"

def start_env(edfs):
    try:
        client = MongoClient('localhost', 27017)
        db = client['edfs']
    except:
        return "Database error"
    return  f"{edfs} started"

# def test_edfs(argv):

#     edfs = "edfs"

#     #Testing
#     if "--delete" in argv:
#         print(delete_env(edfs))
#     elif "--new" in argv:
#         print(new_env(edfs))
#     elif "--restart" in argv:
#         print(delete_env(edfs))
#         print(new_env(edfs))
#     else:
#         print(start_env(edfs))
#         print(mkdir("/root", "foo"))
#         print(mkdir("/root/foo", "bar"))

# test_edfs(sys.argv[1])
#test_edfs("--new")

ModuleNotFoundError: No module named 'simplejson'

In [100]:
def new_env(edfs):
    env_statements = [
            f"CREATE DATABASE IF NOT EXISTS  {edfs}",
            f"USE {edfs}",
            """
                CREATE TABLE df (
                    path varchar(255),
                    type varchar(255),
                    PRIMARY KEY(path)
                )""",
            "INSERT INTO df VALUES ('/root', 'DIRECTORY')",
            """
                CREATE TABLE blockLocations (
                    path varchar(255),
                    partition_name varchar(255),
                    CONSTRAINT FOREIGN KEY (path) REFERENCES df(path) ON DELETE CASCADE
                )"""
    ]
    for s in env_statements:
        mycursor.execute(s)
    mydb.commit()
    return f"{edfs} created"

def seek(path):
    seek_statement = "SELECT * FROM df WHERE path = %s"
    mycursor.execute(seek_statement, (path,))
    #myresult = mycursor.fetchall()
    myresult={}
    for row in mycursor:
        myresult= {"path":row[0], "type":row[1]}
    #return myresult
    #print("seek", myresult)
    if myresult:
        #print("sdhg",myresult)
        return myresult


def mkdir(path, name):
    result = seek(path)
    output = ""
    #print("mkdir", result)
    if result:
        if result["type"] == "DIRECTORY":
            pathname = f"{path}/{name}"
            dup_result = seek(pathname)
            #collection = db[df]
            if not dup_result:
                insert_statement = "INSERT INTO df VALUES (%s, 'DIRECTORY')"
                mycursor.execute(insert_statement, (pathname,))
                db.df.insert_one(result)
                #mydb.commit()
                output = f"directory {name} created"
            else:
                output = "directory already exists"
    else:
        output = f"Invalid path: {path}"
    print("mkdir",output)

def put(path, name, csv):
    result = seek(path)
    if result:
        if result["type"] == "DIRECTORY":
            dup_result = seek(f"{path}/{name}")
            if not dup_result:
                hash_lists = hash(path, name, csv)
                output = f"file {name} created"
            else:
                output = "file already exists"
        else:
            output = "cannot place a file in a file"
    else:
        output = f"Invalid path: {path}"
    print("put", output)
    return output

def hash(path, name, csv_file):
    #execute metadata alter
    doc={"path":f"{path}/{name}","type":'FILE'}
    #meta_statement = "INSERT INTO df VALUES (%s, 'FILE');"
    #mycursor.execute(meta_statement, (f"{path}/{name}",))
    #result = mycursor.fetchall()
    #mydb.commit()
    db.df.insert_one(doc)
    with open(csv_file) as f:

        key_list, csv_counter = {}, 0
        reader = csv.reader(f, delimiter=',')
        header = next(reader)
        key_index = key_idx(header)
        key = key_cleaning(header)

        #TODO: modularize this create code JFC
        try:
            #create_statement = f"""
             #   CREATE TABLE IF NOT EXISTS {key}(
              #      path varchar(255),
              #      data_index int,
              #      data text,
              #      FOREIGN KEY(path) REFERENCES df(path) ON DELETE CASCADE
              #  )"""
            #insert_hash_statement = f"INSERT INTO {key} VALUES (%s, %s, %s);"
            ##mycursor.execute(create_statement)
            #result=mycursor.fetchall()
            #mydb.commit()
            #mycursor.execute(insert_hash_statement, (path + "/" + name, csv_counter, ','.join(header)))
            #mydb.commit()
            f"db.getCollection({key})"
            #session.commitTransaction()
            row= {"path":path+"/"+name, "data_index":csv_counter,"data":','.join(header)}
            f"db.{key}.insert_one(row)"
            #f"db.{key}.insert_one(path+"/"+name,csv)"
            key_list[key] = None
            csv_counter += 1
        except:
            output = f"ERROR: {mycursor.statement}"

        for row in reader:
            key = key_cleaning(row)
            #try insert data into datanode
            try:
                #create_statement = f"""
                #    CREATE TABLE IF NOT EXISTS {key}(
                #        path varchar(255),
                #        data_index int,
                #        data text,
                #        FOREIGN KEY(path) REFERENCES df(path) ON DELETE CASCADE
                #    )"""
                #insert_hash_statement = f"INSERT INTO {key} VALUES (%s, %s, %s);"
                #mycursor.execute(create_statement)
                #result = mycursor.fetchall()
                #mydb.commit()
                #mycursor.execute(insert_hash_statement, (path + "/" + name, csv_counter, ','.join(row)))
                #result = mycursor.fetchall()
                #mydb.commit()
                f"db.getCollection({key})"
                #session.commitTransaction()
                r= {"path":path+"/"+name, "data_index":csv_counter,"data":','.join(row)}
                f"db.{key}.insert_one(r)"
                key_list[key] = None
                csv_counter += 1
            except:
                output = f"ERROR: {mycursor.statement}"
                rm(path, name)
                # return output

        #write data into datanodes
        for key in key_list.keys():
             #block_statement = "INSERT INTO blockLocations VALUES(%s, %s);"
             #mycursor.execute(block_statement, (f"{path}/{name}", key))
             row={"path":f"{path}/{name}","type":key}
             db.blockLocations.insert_one(row)
        mydb.commit()
        return key_list

def Sort_Tuple(tup: list, idx: int) -> list:
    return(sorted(tup, key = lambda x: x[idx]))

def key_idx(str_list):
    try:
        return str_list.index('Country Name')
    except:
        return 0

def key_cleaning(row):
    #key cleaning
    clean_key =  re.sub(r'[^A-Za-z0-9 ]+', '', row[0]).replace(" ", "_")
    key = clean_key if clean_key != "" else "invalid_key"
    if key.isnumeric() and key.length() > 0:
        key = f"t{key}"
    if len(key) >= 64:
        key = key[0:40]
    return key

def rm(path, name):
    result = seek(path)
    filepath =  f"{path}/{name}"
    if result:
        select_statement = "SELECT * FROM df WHERE path LIKE %s"
        mycursor.execute(select_statement, (filepath + "%",))
        result = mycursor.fetchall()
        row={}
        for i in mycursor:
            row= {"path":i[0], "type":i[1]}
            db.df.insert_one(row)
        if len(result) != 1:
            output = "invalid deletion"
        else:
            delete_statement = "DELETE FROM df WHERE path LIKE %s"
            mycursor.execute(delete_statement, (filepath,)) #TODO: adding % here will add -r functionality
            result=mycursor.fetchall()
            row={}
            for i in mycursor:
                row= {"path":i[0], "type":i[1]}
                db.df.insert_one(row)
            if(row):
                print(row)
            mydb.commit()
            output = f"{filepath} deleted"
    else:
        output = f"Invalid path: {filepath}"
    return output


def ls(path):
    result = seek(path)
    if result:
        if result["type"] == "FILE":
            output = "Cannot run 'ls' on files"
        elif result["type"] == "DIRECTORY":
            ls_statement = "SELECT * FROM df WHERE path REGEXP %s"
            mycursor.execute(ls_statement, (f"^{path}\/[^\/]+$",))
            output = mycursor.fetchall()
            row={}
            for i in output:
                row= {"path":i[0], "type":i[1]}
                db.df.insert_one(row)
            output1=db.df.find()
    else:
        output1 = f"Invalid path: {path}"
    output2 = []
    for o in output1:
        output2.append(o['path'])
    return ', '.join(output2)


def getPartitionLocations(path):
    cat_statement = "SELECT * FROM blockLocations WHERE path = %s"
    mycursor.execute(cat_statement, (path,))
    result = mycursor.fetchall()
    row={}
    for i in result:
        row= {"path":i[0], "type":i[1]}
        db.df.insert_one(row)
    x=db.blockLocations.find()
    for j in x:
        print("getPartitionLocations(path):", j)
    return x

def getPartitionData(path):
    result = seek(path)
    output = ""
    if result:
        if result["type"] == "DIRECTORY":
            output = "Cannot run 'cat' on directories"
        elif result["type"] == "FILE":
            myresult = getPartitionLocations(path)
            data_list = []
            for partition in myresult:
                data_list = data_list + readPartition(path, partition[1])
            sorted_data_list = Sort_Tuple(data_list, 1)
            return sorted_data_list
    else:
        output = f"Invalid path: {path}"
    print("getPartitionData(path):", output)
    return output

def cat(path):
    output = ""
    sorted_data_list = getPartitionData(path)
    for s in sorted_data_list:
        output += s[2] +"\n"
    print("Cat", output)
    return output

def getPartitionLocations(path):
    cat_statement = "SELECT * FROM blockLocations WHERE path = %s"
    mycursor.execute(cat_statement, (path,))
    result = mycursor.fetchall()
    row={}
    for i in result:
        row= {"path":i[0], "type":i[1]}
        db.df.insert_one(row)
    x=db.blockLocations.find()
    # for j in x:
    #     print("getPartitionLocations(path):", j)
    # return x
    output = []
    for o in x:
        output.append(str(o))
    return ', '.join(output)

def readPartition(path, partition_name):
    mycursor.execute(f"SELECT * FROM {partition_name} WHERE path = %s", (path,))
    result = mycursor.fetchall()
    partition_data = []
    for line in result:
        partition_data.append((partition_name, line[1], line[2]))
    print("readPartition", partition_data)
    return partition_data

In [30]:
put("/root/foo", "data", "datasets/Data.csv")

In [97]:
a = getPartitionLocations("/root/foo/data")

In [101]:
readPartition("/root/foo/data", "Andorra")

ProgrammingError: 1146 (42S02): Table 'edfs_mongo.Andorra' doesn't exist

In [70]:
cat("/root/foo/data")

getPartitionData(path): Invalid path: /root/foo/data

IndexError: string index out of range

In [106]:
a = ls("/root/foo")

In [107]:
a

'/root, /root/foo, /root/foo/data, /root/foo/data, /root/foo, /root/foo, /root/foo/bar, /root/foo, /root/foo/bar, /root/foo/bar, /root/foo/bar, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo, /root/foo/bar, /root/foo/bar'

In [46]:
list(a)

[]

In [72]:
mkdir("/root/foo", "bar")

mkdir directory bar created

In [59]:
rm("/root/foo", "bar")

InterfaceError: No result set to fetch from

In [35]:
mkdir("/root/foo", "bar")

mkdir directory bar created

In [ ]:
import mysql.connector as ccnx
import csv
import re
import sys
import pandas as pd
from pymongo import MongoClient

########################
# mongodb client setup #
########################

client = MongoClient('mongodb://root:root@localhost:27017/')
db = client['edfs']
# db = new Mongo().getDB("edfs")
#collection = db['name_of_collection']

#python connector setup
mydb = ccnx.connect(
    host="localhost",
    user="root",
    password="root",
    database="edfs_mongo"
)
mycursor = mydb.cursor(buffered=True)

# PMR

In [178]:
# import sys
# sys.path.insert(1, '../edfs')
import edfs.mysql as sql
import edfs.firebase as firebase
import mysql.connector as ccnx
from enum import Enum

# class syntax
class EDFS(Enum):
    MYSQL = 1
    FIREBASE = 2
    MONGODB = 3

class FUNC(Enum):
    SUM = 1
    MAX = 2
    MIN = 3
    AVG = 4


#####################
#  Helper Function  #
#####################

def convert_str(item:str):
    try:
        return float(item)
    except:
        return None

#####################
#  Mapper Function  #
#####################

def mapPartition(key:str, col_data, data:str):
    """
        Arg: The name of the partition from getPartitionLocations
        col_data: the names of the columns
        data: the contents of the data itself
    """
    return None

def firebase_map(targets, file):
    data = firebase.cat(file)
    data = [row.split(",") for row in data] #list of list
    header_list = data[0]
    data = [(row[0], None, ','.join(row)) for row in data]
    col_dict = {header_list.index(i):i for i in targets}
    return edfs_map(data, col_dict)

def edfs_map(data, col_dict):
    #map step
    data_mapped = {}

    for d in data:
        partition_key, data_block = d[0], d[2].split(",")
        data_block = [(col_dict[x], data_block[x]) for x in col_dict.keys()]
        if partition_key not in data_mapped:
            data_mapped[partition_key] = []
        data_mapped[partition_key] += data_block
    return data_mapped

def sql_map(targets: [], file:str):
    sql.start_env("edfs")
    data = sql.getPartitionData(file)
    # then I get all the partition locations and the indices and it goes zoooom

    #ID targets
    header_list = (data[0][2].split(","))
    col_dict = {header_list.index(i):i for i in targets}
    return edfs_map(data, col_dict)

def edfs_shuffle(data_mapped:dict):
    data_shuffled = {}
    for key in data_mapped.keys():
        for item in data_mapped[key]:
            col_key, value = item[0], item[1]
            if col_key not in data_shuffled:
                data_shuffled[col_key] = []
            data_shuffled[col_key].append(convert_str(value))
    return data_shuffled

def edfs_reduce(data_shuffled:dict, function:int):
    data_reduced = {}
    if function == FUNC.SUM:
        for col in data_shuffled.keys():
            data_reduced[col] = sum(list(filter(lambda item: item is not None, data_shuffled[col])))
    elif function == FUNC.MAX:
        for col in data_shuffled.keys():
            data_reduced[col] = max(list(filter(lambda item: item is not None, data_shuffled[col])))
    elif function == FUNC.MIN:
        for col in data_shuffled.keys():
            data_reduced[col] = min(list(filter(lambda item: item is not None, data_shuffled[col])))
    elif function == FUNC.AVG:
        for col in data_shuffled.keys():
            shuffled_data = list(filter(lambda item: item is not None, data_shuffled[col]))
            data_reduced[col] = sum(shuffled_data)/len(shuffled_data)
    return data_reduced

def execute(implementation:int, function:int, targets:[]=None, file:str=None, DEBUG=False):
    #TODO import getPartitionLocations() from each
    if implementation == EDFS.MYSQL:
        data_mapped = sql_map(targets, file)
        data_shuffled = edfs_shuffle(data_mapped)
        data_reduced = edfs_reduce(data_shuffled, function)
        if DEBUG:
            print(f"Data Mapped:\n {data_mapped}\n")
            print(f"Data Shuffled:\n {data_shuffled}\n")
            print(f"Data Reduced:\n {data_reduced}\n")
        return data_reduced
    if implementation == EDFS.FIREBASE:
        data_mapped = firebase_map(targets, file)
        data_shuffled = edfs_shuffle(data_mapped)
        data_reduced = edfs_reduce(data_shuffled, function)
        if DEBUG:
            print(f"Data Mapped:\n {data_mapped}\n")
            print(f"Data Shuffled:\n {data_shuffled}\n")
            print(f"Data Reduced:\n {data_reduced}\n")
        return data_reduced
        return data_mapped

In [114]:
#python connector setup
mydb = ccnx.connect(
    host="localhost",
    user="root",
    password="root",
    database="edfs_mongo"
)
mycursor = mydb.cursor(buffered=True)

In [126]:
reduced_data = dict((key[:4], value) for (key, value) in reduced_data.items())

In [128]:
reduced_data

{'2019': 10.214665351311616, '2020': 9.971583415248919}

In [131]:
df = pd.DataFrame({'Year': list(reduced_data.keys()), 'Value': list(reduced_data.values())})

In [130]:
df

   Keys     Values
0  2019  10.214665
1  2020   9.971583

In [175]:
# reduced_data = execute(mycursor, EDFS.FIREBASE, FUNC.AVG, targets=["2015 [YR2015]", "2020 [YR2020]"], file="root/user/Stats_Cap_Ind_Sample", DEBUG=True)

In [150]:
date_range = ["2000", "2017"]
# for i in range (data[0], data[1])
YEAR_RANGE = [f"{year} [YR{year}]" for year in range(int(date_range[0]), int(date_range[1]))]

In [181]:
# df = execute(
#     EDFS.FIREBASE,  FUNC.MAX,
#     ['2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
# f"root/user/Stats_Cap_Ind_Sample", DEBUG=False)

In [166]:
df

In [162]:
execute(mycursor, EDFS.FIREBASE, FUNC.AVG, targets=["2015 [YR2015]", "2020 [YR2020]"], file="root/user/Stats_Cap_Ind_Sample", DEBUG=True)

In [171]:
YEAR_RANGE = ['2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]']

In [174]:
reduced_data

{'2002 [YR2002]': 100.0,
 '2003 [YR2003]': 100.0,
 '2004 [YR2004]': 100.0,
 '2005 [YR2005]': 100.0,
 '2006 [YR2006]': 100.0,
 '2007 [YR2007]': 100.0,
 '2008 [YR2008]': 100.0,
 '2009 [YR2009]': 100.0,
 '2010 [YR2010]': 100.0,
 '2011 [YR2011]': 100.0,
 '2012 [YR2012]': 100.0}

In [184]:
reduced_data = execute(
    EDFS.MYSQL, FUNC.MAX,
    targets=YEAR_RANGE, file="/root/foo/data", DEBUG=True)

In [140]:
reduced_data

In [137]:
[f"{year} [YR{year}]" for year in ["2019", "2020"]]

['2019 [YR2019]', '2020 [YR2020]']

In [135]:
reduced_data

In [ ]:
if __name__ == "__main__":
    if sys.argv[2] == "mysql":
        #python connector setup
        mydb = ccnx.connect(
          host="localhost",
          user="root",
          password=sys.argv[1],
        )
        mycursor = mydb.cursor(buffered=True)
        execute(mycursor, EDFS.MYSQL, FUNC.MIN, targets=["2019 [YR2019]", "2020 [YR2020]"], file="/root/foo/data", DEBUG=True)
        execute(mycursor, EDFS.FIREBASE, FUNC.AVG, targets=["2019 [YR2019]", "2020 [YR2020]"], file="root/user/Stats_Cap_Ind_Sample", DEBUG=True)

In [219]:
import edfs.pmr as pmr

In [237]:
import importlib
importlib.reload(pmr)

In [238]:
reduced_data = pmr.execute(
    "MYSQL", "MIN",
    targets=YEAR_RANGE, file="/root/foo/data", DEBUG=False)

In [240]:
reduced_data.sort_values(by='Year')

    Year     Value
0   2002  1.253706
6   2003  2.591462
9   2004  3.500000
3   2005  3.207317
5   2006  0.643132
2   2007  1.031562
7   2008  1.279290
4   2009  1.900000
10  2010  1.500000
1   2011  2.684685
8   2012  3.136361

In [233]:
EDFS.MYSQL

# Firebase

In [241]:
import pandas as pd
import requests
import json
import re
import datetime
import os
import csv

firebase_url = 'https://dsci551-project-52d43-default-rtdb.firebaseio.com/'

def seek(path):
    url = firebase_url + path + '.json'
    try:
        rget = requests.get(url)
        return rget
    except:
        print('ERROR')
        

def ls(path: str) -> str:
    '''List files under path/.

    Args:
        path (str): path starting from NameNode/
    Returns:
        (str) Success or Error message
    '''
    slist = seek(f"NameNode/{path}")
    rlist = slist.json()

    result_list = []

    if type(rlist) == dict: # iterate over rlist if rlist != None
        for key, value in rlist.items():
            if key == "_": # empty directory
                continue
            if type(value) == dict: # if item is folder, add '/' to the end of thge string
                result_list.append(key + "/")
            else:
                result_list.append(key)
        output = 'empty' if not result_list else ', '.join(result_list)
    elif not rlist:
        output = f'Path {path} not found'
    else: 
        output = f'{path} is not a folder'
    
    return output

        
def mkdir(path: str) -> str:
    '''Create directory if not exists

    Args:
        path: relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    full_path = f'NameNode/{path}'
    if seek(full_path).json() is None:
        url = firebase_url + full_path + '.json'
        data = '{"_" : "_"}' # empty directory
        r = requests.put(url,data)
        output = f'Directory {path} created'
    else:
        output  = 'Directory ' + path + ' already exists'
    return output

        
def rm(path: str) -> str:
    '''Delete directory if exists

    Args:
        path: relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    full_path = f'NameNode/{path}'
    if seek(full_path).json() is None:
        output = 'Directory not found'
    else:
        url = firebase_url + full_path + '.json'
        d = requests.delete(url)
        if d.status_code == 200:
            output = path + ' was succefully deleted'
    return output


def getPartitionLocation(file: str) -> str:
    '''Return the locations of partitions of the
        file
    Args:
        file (str): relative path to NameNode/
    Returns:
        (str) Success or Error message
    '''
    path = "NameNode/" + file + "/partitions"
    rpath = seek(path)
    partition = requests.get(rpath.url)
    pdict = partition.json()       

    if pdict is None:
        output = f'Partitions for {file} not found'
    else:
        output = json.dumps(pdict, indent=4, sort_keys=True) # Organizing the data
    
    return output


def readPartition(file, partition) -> str:
    '''Return the content of partition # of
    the specified file
    Args:
        file (str): relative path to NameNode/
        partition (str):  name of the partition
    Returns:
        (str) Success or Error message
    '''
    try:
        pdict = json.loads(getPartitionLocation(file))
        url = pdict[partition]
        pdict = requests.get(url).json()
        output = json.dumps(pdict, indent=4, sort_keys=True)
    except:
        output = 'Partition not found'
    return output


# cleans column names for firebase json object key
def varname (var):
    key = re.sub(r'[^A-Za-z0-9 ]+', '', var).replace(" ", "_")
    names = key if key != "" else "invalid_key"
    return names

def mtime():
#     to revert back
    #datetime.datetime.utcfromtimestamp(int(mtime)/1000).strftime('%Y-%-m-%-d %I:%M:%S') 
    return (datetime.datetime.now().timestamp()*1000)

def filesize(file): #file size in bytes
    return  os.path.getsize(file)

def indexing(dicts):
    dt = dict()
    for k,v in dicts.items():
        i = int(k.replace('p',''))
        dt[i] = v
    return dt

def record_partition(path, country, filename, url):
    try:
        npath = firebase_url + path + "/" + filename + "/partitions.json"
    #     print (npath ,":", url)
        mdata = {country : url}
        putMeta = requests.patch(npath, json.dumps(mdata))
        if putMeta.status_code == 400: print(country)
    #     print (putMeta)
    except:
        print (country)

def file_mdata(path, file, filename):
    npath = firebase_url + path + "/" + filename + ".json"
    mdata = {'ctime': mtime(),
             'name': file,
             'type': 'FILE',
             'filesize':filesize(file)}
    putMeta = requests.patch(npath, json.dumps(mdata))
    

# partition by Country (Original plan)
def put(file: str, path: str) -> str:
    filename = file.replace(".csv","")
    path = 'NameNode/' + path

 
    # creating dictinary to organize data into correct json format. 
    # added 'file name' to the dictionary to help differentiate data from different files
    dc = dict()
    with open(file, encoding = 'utf-8') as csvfile:
        csvReader = csv.reader(csvfile)
        
        for index, row in enumerate(csvReader):
            cname = varname(row[0])
            n = 'p' + str(index)
            if cname in dc:
                dc[cname][n] = (';'.join(row))
            else:
                dc[cname]={n:(';'.join(row))}
    
    if seek(path + '/' +filename).json() is None:
        for key, val in dc.items():
            url = firebase_url + 'DataNode/' + key + '/' + filename + '.json'
            putResponse = requests.put(url, json.dumps(val))
            if putResponse.status_code == 200:
                record_partition (path, key, filename, putResponse.url)
            else:
                print (file, 'failed to uploaded at partition', key)
        
        output =  file + ' was succesfully uploaded to ' + path
        
        file_mdata(path, file, filename)
        #add metadata information.
    else:
        output = file + " already exists in " + path
            
        
    return output
    

def cat(path):
    file = path.replace('.csv','')
    pdict = json.loads(getPartitionLocation(file))
    data = dict()
    for k,v in pdict.items():
        getPartition = requests.get(v).json()
        for key, val in getPartition.items():
            i = int(key.replace('p',''))
            data[i]=val.replace(';',',')
            
    ldata = list()
    for key in sorted(data):
        ldata.append(data[key])
    return ldata


def mapPartition(p, file):
    file_name = file.split('/')[-1]
    columns = f'https://dsci551-project-52d43-default-rtdb.firebaseio.com/DataNode/Country_Name/{file_name}.json'
    rlist =[ v for k, v in requests.get(columns).json().items()]
    readMap = indexing(requests.get(p).json())
    for key in sorted(readMap):
        rlist.append(readMap[key])
    return rlist 
    

# function to get year columns
def is_year (c):
    return any(char.isdigit() for char in c)    


def new_col(cols):
    new_col = list()
    for c in cols:
        if is_year(c):
            new_col.append(c[:4])
        else:
            new_col.append(c)
    return new_col


def to_df(data):
    df = pd.DataFrame(columns = data[0].split(';'), data=[row.split(';') for row in data[1:]])
    columns = new_col(df.columns.values)
    df.columns = columns
    df_melted = df.melt(id_vars=columns[:4], var_name='Year', value_name='Value')
    return df_melted


# function to get year columns
def is_year (c):
    return any(char.isdigit() for char in c)

def read_dataset(file: str):
    partitions = json.loads(getPartitionLocation(file))

    df_list = list()
    for country_name, dir in partitions.items():
        if country_name == 'Country_Name': # Store only column names. Ignore
            continue
        map = mapPartition(dir, file)
        df_list.append(to_df(map))
        break ### REMOVEE

    df = pd.concat(df_list)

    # change columns names
    new_columns = list()
    columns = df.columns
    for c in columns:
        if is_year(c):
            new_columns.append(c[:4])
        else:
            new_columns.append(c.replace(" ","_"))

    # change column names in dataframe
    df.columns = new_columns
    df['Year'] = df['Year'].astype(int)
    df = df.loc[df['Value'] != '..'].copy()
    df['Value'] = df['Value'].astype(float)
    return df


def test():
    return 'test1'

In [242]:
import pandas as pd

In [255]:
df = pd.read_csv("datasets/Data_Extract_From_Statistical_Capacity_Indicators/42377300-c075-4554-a55f-41cd64c79126_Data.csv")
# df = pd.read_csv("datasets/Human_Capital_Index.csv")

In [263]:
# set(df['Series Name'])

In [264]:
# df2 = df[df['Series Name'] == 'Per capita GDP growth'].sample(50, random_state=42).copy()
df2 = df[df['Series Name'] == 'Consumer price index base year'].sample(50, random_state=42).copy()
# Consumer price index base year

In [268]:
# df2

In [266]:
# df2

In [269]:
# df2.to_csv('datasets/Per_Capita_GDP.csv', index=False)
df2.to_csv('datasets/Consume_Price_Index.csv', index=False)

In [247]:
set(df['Series Name'])

{'Access to water',
 'Agricultural census',
 'Balance of payments manual in use',
 'Child malnutrition',
 'Child mortality',
 'Consumer price index base year',
 'External debt reporting status',
 'Gender equality',
 'Government finance accounting',
 'HIV/AIDS',
 'Health survey',
 'Immunization',
 'Import and export price indexes',
 'Income poverty',
 'Industrial production index',
 'Maternal health',
 'Methodology assessment of statistical capacity (scale 0 - 100)',
 'National accounts base year',
 'National immunization coverage',
 'Overall Average',
 'Per capita GDP growth',
 'Periodicity and timeliness assessment of statistical capacity (scale 0 - 100)',
 'Population census',
 'Poverty survey',
 'Primary completion',
 'Source data assessment of statistical capacity (scale 0 - 100)',
 'Special Data Dissemination Standard',
 'UNESCO reporting',
 'Vital registration system coverage'}